.titleWrap{
  width: 100%;
  // height: 72px;
  // line-height: 72px;
  // padding-left: 30px;
  // border-bottom: 1px solid #EBECEF;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #1A1C1F;
  padding-left: 24px;
  background: #fff;
  border-bottom: 1px solid #F5F8FA;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  .nameCls{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #1A1C1F;
  }
  // .nameCls:before{
  //   content: '';
  //   display: inline-block;
  //   width: 2px;
  //   height: 12px;
  //   background: #52c9c2;
  //   margin: 0 6px 0 -6px;
  // }
}
