.titleWrap{
  width: 100%;
  height: 72px;
  line-height: 72px;
  padding-left: 30px;
  border-bottom: 1px solid #EBECEF;
  .nameCls{
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #000;
  }
  .nameCls:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    background: #52c9c2;
    margin: 0 6px 0 -6px;
  }
}
