.tableList {
    padding-top: 16px;
    .row {
        background-color: #FAFFFF;
    }
    .row {
        background-color: #FFF9F9;
    }
    .row {
        background-color: #F5FBFF;
		}
		.bgColor{
			background:#FFF9F9;
		}
		.bgColor2{
			background:#F5FBFF;
		}
		:global{
			.ant-table-tbody > tr > td{
				height:40px;
				padding-top:0;
				padding-bottom:0;
			}
		}
}



