.tableList {
	padding: 16px;
	padding-bottom: 0;
    .row {
        background-color: #FAFFFF;
    }
    .row {
        background-color: #FFF9F9;
    }
    .row {
        background-color: #F5FBFF;
		}
		.bgColor{
			background:#FFF9F9;
		}
		.bgColor2{
			background:#F5FBFF;
		}
		.cursor{
			cursor:pointer;
		}
		:global{
			.ant-table-tbody > tr > td{
				height:40px;
				padding-top:0;
				padding-bottom:0;
			}
		}
}

.rankColumn{
	.rankSpan{
		width:20px;
		height:20px;
		text-align:center;
		display:inline-block;
		margin-right:7px;
	}
	.rank{
		width:20px;
		height:14px;
		margin-right:7px;
	}
	.changes{
		width:10px;
		height:12px;
		vertical-align:-2px;
		margin-left:13px;
	}
}
.normal .changes{
	width:10px;
	height:1px;
	vertical-align:middle;
}



