// 渐变色加阴影
.bg_color (@c1, @c2, @c3){
  box-shadow: 0 4px 8px @c3;
  background: -webkit-linear-gradient(left, @c1, @c2); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @c1, @c2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @c1, @c2); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @c1, @c2); /* 标准的语法（必须放在最后） */
  box-shadow: 0 4px 8px @c3;
}

.performanceDetail{
  display:flex;
  .chart{
    width:140px;
    height:140px;
    margin-left:20px;
    margin-right:40px;
  }
  .performancePanel{
    width:216px;
    height:112px;
    border-radius:10px;
    background:#fff;
    box-shadow:0 4px 8px 0 rgba(26, 28, 31, 0.05);
    margin-top:8px;
    margin-right:16px;
    overflow:hidden;
    .details{
      height:64px;
      padding:0 12px;
      box-sizing:border-box;
      color:#fff;
      display:flex;
      justify-content: space-between;
      align-items:center;
      line-height:24px;
      font-size:12px;
      .bg_color(#07DCD3, #32E7BF, rgba(0, 204, 195, .2));
      p{
        margin:0;
      }
      .txtRight{
        text-align:right;
      }
      .big{
        font-size:16px;
      }
    }
    .progressBar{
      padding:10px 12px 0;
      .title{
        display:flex;
        justify-content: space-between;
        font-size:12px;
        color:#56595E;
        margin-bottom:-5px;
      }
    }
  }
  .performancePanel2{
    .details{
      .bg_color(#FFB32B, #FFD500, rgba(255, 188, 0, .2))
    }
  }
  .performancePanel3{
    .details{
      .bg_color(#FF6F6F, #FF93C7, rgba(255, 98, 106, .2))
    }
  }
  .performancePanel4{
    width:232px;
    .details{
      .bg_color(#4AC0FF, #77DDFF, rgba(78, 181, 235, .2))
    }
  }
}
.tooltipContent{
  h4{
    color:#fff;
    margin-top:10px;
    opacity: 0.9;
    font-size:13px;
  }
  p{
    font-size:12px;
    color:#fff;
    opacity: 0.9;
    margin-bottom:0;
    line-height:22px;
  }
}