.performance{
  border-radius:10px;
  background:#fff;
  .titleBar{
    height:47px;
    line-height:47px;
    border-bottom:1px solid #F5F8FA;
    display:flex;
    justify-content: space-between;
    padding:0 24px;
    h4{
      font-size:16px;
    }
  }
  .detailContent{

  }
}