.colorStyle{
  display: inline-block;
  border-radius: 6px;
  padding: 7px 16px;
  font-size: 12px;
  color: #1A1C1F;
  margin-right:8px;
}
.colorStyle0{
  background: #DCF7F7;
}
.colorStyle1{
  background: #DAE5FF;
}
.colorStyle2{
  background: #FFDFDF;
}
.colorStyle3{
  background: #F4DFFF;
}
.colorStyle4{
  background: #FFE5BB;
}
.colorStyle5{
  background: #DAE5FF;
}
.colorStyle6{
  background: #FFDFDF;
}
.colorStyle7{
  background: #F4DFFF;
}
.colorStyle8{
  background: #FFE5BB;
}
.colorStyle9{
  background: #D8F5B8;
}
