.greenColor {
    color: #00CCC3;    
}
.redColor {
    color: #FF626A;
}
.dimension {
    width: 410px;
    margin-right: 8px;
    background:#fff;
    padding:16px 24px;
    border-radius:10px;
    box-sizing:border-box;
    :global{
        // 正
        .plusBgColor{
            background: #FAFFFF;
        }
        // 负
        .minusBgColor{
            background: #FFF9F9;
        }
        // 学分均分
        .yellowBgColor{
            background: #FFFDF8;
        }
        .ant-table-thead > tr:first-child > th:last-child{
            border-right:none;
        }
        .ant-table-tbody > tr > td:first-child{
            padding-left:10px;
        }
        .ant-table-bordered .ant-table-tbody > tr > td, .ant-table-thead tr > th{
            padding: 10px 0px;
            // text-align:center;
        }
        .ant-table-thead tr > th{
            text-align:right;
            padding-right:12px;
            white-space: nowrap;
        }
        .ant-table-thead > tr:first-child > th:first-child, .ant-table-tbody > tr > td:first-child{
            padding-left:16px;
            text-align:left;
        }
       .ant-table-bordered .ant-table-tbody > tr > td:last-child{
            border-right:none;
        }
        .ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table{
            border:none;
        }
        .ant-table-bordered .ant-table-tbody > tr .txRight{
            text-align:right;
            padding-right:10px;
            white-space: nowrap;
        }
        // .ant-table-thead > tr:first-child > th:first-child, .ant-table-tbody > tr > td:first-child {
        //     padding-left: 24px;
        //   }

    } 
    // 维度不同背景色
    .rowBg2 {
        background-color: #FFF9F9;
    }
    .rowBg3 {
        background-color: #F5FBFF;
    }
    .rowBg4 {
        background-color: #FAFFFF;
    }
    // 可点击行
    .clickRow {
       cursor: pointer;
       .rowBg4;
    }
    // 选中行
    .selectedRow {
        > td {
           .greenColor;
           .rowBg4;
        }
    }
}