.greenColor {
    color: #00CCC3;    
}
.redColor {
    color: #FF626A;
}
.dimension {
    width: 306px;
    margin-right: 8px;
    background:#fff;
    padding: 24px 16px;
    border-radius:10px;
    box-sizing:border-box;
    overflow-x:auto;
    flex-shrink: 0;
    :global{
        // // 正
        // .plusBgColor{
        //     background: #FAFFFF;
        // }
        // // 负
        // .minusBgColor{
        //     background: #FFF9F9;
        // }
        // // 学分均分
        // .yellowBgColor{
        //     background: #FFFDF8;
        // }
        .ant-table-tbody > tr > td:first-child{
            padding-left:10px;
        }
        .ant-table-thead tr > th{
            text-align:right;
            padding-right:12px;
        }
        .ant-table-thead > tr:first-child > th:first-child, .ant-table-tbody > tr > td:first-child {
            padding-left:16px;
            text-align:left;
        }
        .ant-table-thead > tr:first-child > th:nth-child(2) {
            padding-right: 40px;
        }
        .ant-table-bordered .ant-table-tbody > tr .txRight{
            text-align:right;
        }
        .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td{
            border-right-color:#EFF3F6;
        }

    } 
    // 维度不同背景色
    .rowBg2 {
        background-color: #FFF9F9;
    }
    .rowBg3 {
        background-color: #F5FBFF;
    }
    .rowBg4 {
        background-color: #FAFFFF;
    }
    // 可点击行
    .clickRow {
       cursor: pointer;
       .rowBg4;
    }
    // 选中行
    .selectedRow {
        background-color: rgba(0, 204, 195, .1);
        position: relative;
        .selected::before {
            content: '';
            display: inline-block;
            width: 3px;
            height: 100%;
            background-color: #00CCC3;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    //
    .selected {
        position: relative;
    }
    .dimensionName {
        display: flex;
        flex-direction: column;
        color: #999999;
        padding-left: 34px; 
        .num {
            color: #00CCC3;
            img {
                width: 6px;
            }   
        }
        // .num::after {
        //     content: '';
        //     display: inline-block;
        //     border: 4px solid  #00CCC3;
        //     border-color: transparent #00CCC3 transparent transparent;
        // }
    }
    // 展开图标
    .expandIcon {
        width: 13px;
        margin-right: 4px;
        // top: -2px;
        cursor: pointer;
    }
    // 学分环比
    .scoreRatio {
        display: flex;
        flex-direction: column;
        margin-right: 32px;
        .score {
            color: #1B1C20;
            font-weight: bold;
        }
        .ratio {
            color: #999999;
            position: relative;
            img {
                position: absolute;
                margin-left: 4px;
                width: 14px;
                top: 2px;
            }
        }
    }
}