.detailContainer {
  font-size: 14px;
  color: #262626;
  padding: 10px 20px;
  background-color: white;
}
.subOrderNum {
  padding-left: 18px;
  margin-bottom: 16px;
}
.divideLine {
  height: 1px;
  background-color: #ebecef;
  flex: 1;
  margin: 24px 0 24px 12px;
}
.gutterBox1 {
  text-align: right;
  padding-top: 20px;
  .gutterBtn2 {
    margin-right: 20px;
  }
}
.showPanel {
  flex: 1;
}
.hidePanel {
  display: none;
}
.downCls{
  color:#52C9C2
}
