
.proportion {
    .win {
        background: url('../../../../assets/xdwork/bg.png') #4EB5EB;
    }
    .lose {
        background: url('../../../../assets/xdwork/bg.png') #FF626A;
    }
    .propTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }
    .progress{
        display: flex;
        width: 400px;
        height: 12px;
        color: #FFFFFF;
        border-radius: 6px;
        line-height: 12px;
        .left {
            width: 30%;
            height: 100%;
            border-radius: 6px;
            text-align: center;
        }
        .right {
            text-align: center;
            flex: 1;
        }
    }  
}