.KoSangJi {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  min-width: 1116px;
  min-height: 500px;
  padding:38px 20px;
  overflow-x: auto;
}

.rowWrap {
  display: flex;
}
.colWrap {
  //flex:1
  //position: absolute;
  //width:calc(16%)
}
