.leftBoxSmall {
  position: relative;
  width: 350px;
  height: 600px;
  float: left;
  div[class*='_'] {
    font-size: 0.6em !important;
  }
}

.leftBoxMiddle {
  position: relative;
  width: 345px;
  height: 600px;
  float: left;
  div[class*='_'] {
    font-size: 0.6em !important;
  }
}
.videoInner {
  width: 308px;
  height: 550px;
  margin-left: 4px;
  margin-top: 4px;
  border-radius: 16px;
  overflow: auto;
}
.rightBoxSmall {
  width: 640px;
  height: 570px;
  float: right;
  margin-left: 15px;
  position: relative;
}

.rightBoxMiddle {
  width: 800px;
  height: 570px;
  float: right;
  position: relative;
}

.bottomBoxSmall {
  width: 990px;
  min-height: 200px;
  padding-top: 10px;
}

.bottomBoxMiddle {
  width: 1150px;
  min-height: 200px;
  padding-top: 10px;
}

//right
.titleLine {
  display: inline-block;
  width: 5px;
  height: 13px;
  background: rgba(255, 171, 0, 1);
  border-radius: 3px;
}

.title {
  width: 80px;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(26, 28, 31, 1);
  line-height: 28px;
  margin-left: 3px;
}

.boxBar {
  margin: 10px 0 5px;
  width: 100%;
  height: 44px;
  background: rgba(249, 249, 249, 1);
  border-radius: 4px;
}

.boxBar span:nth-child(1) {
  width: 56px;
  height: 44px;
  line-height: 44px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
.boxBar span:nth-child(2) {
  float: right;
  width: 80px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 171, 0, 1);
  cursor: pointer;
}

.boxContent {
  width: 100%;
  padding: 0 15px;
  line-height: 22px;
}

.boxContentPre {
  width: 100%;
  padding-left: 15px;
  max-height: 41px;
  margin-bottom: 3px;
  overflow: hidden;
  font-size: 13px;
  color: #9b9b9b;
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: break-word;
}
.boxDate {
  font-size: 13px;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 1);
}

.btns {
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.btns img {
  width: 120px;
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
}

.videoBg {
  position: absolute;
  width: 326px;
  height: 566px;
  top: 0;
}

:global .cubeDetail {
  .ant-typography {
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 3px;
  }
}
.btRow {
  padding: 15px;
  border-bottom: 1px solid #F6F6F6;
  overflow: hidden;
}

.btLeft {
  width: 80px;
  float: left;
}

.btMiddle {
  width: 190px;
  float: left;
  line-height: 2;
}

.btMiddle div:nth-child(1){
  margin-top: 5px;
  color: #1A1C1F;
  font-size: 13px;
}

.btMiddle div:nth-child(2){
  color: #9B9B9B;
  font-size: 13px;
}

.btRight {
  float: left;
  line-height: 2;
  width:calc(100% - 280px)
}
.btRight div:nth-child(1){
  margin-top: 5px;
  color: #1A1C1F;
  font-size: 13px;
}

.btRight div:nth-child(2){
  color: #9B9B9B;
  font-size: 13px;
}

.xing {
  display: inline-block;
}
.xing img{
  width: 20px;
  height: 20px;
  margin-left: 3px;
  cursor: pointer;
}

.footer {
  text-align: center;
}

.footer span {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  font-size:14px;
  font-weight:600;
  color:rgba(255,171,0,1);
}

.kong {
  text-align: center;
  padding: 15px;
}
.kong img {
  display: block;
  width: 216px;
  margin: auto;
}

.kong span {
  display: block;
  color: #1A1C1F;
  font-size: 13px;
}


.lujing {
  display: inline-block;
  margin-top: 16px;
  width: 7px;
  vertical-align: top;
}
