.content-wrap {
  margin-bottom: 16px;
  padding-bottom: 30px;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;

  .header {
    padding-left: 26px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    color: #1A1C1F;
    border-bottom: 1px solid #F5F8FA;
  }

  .content {
    padding: 16px 24px 0;

    .tabs {
      .tab-button {
        width: 130px;
        height: 30px;
        text-align: center;
      }
    }

    .item-content {
      margin-top: 28px;
    }
  }

  .keywords {
    .input-part {
      display: flex;
      justify-content: space-between;

      .config {
        width: 126px;
        border: none;
        color: #ffffff;
        background: #00CCC3;
      }
    }

    .form-part {
      margin-top: 16px;
    }

    .pagination-part {
      margin-top: 250px;
    }
  }
}

//表格中的一些字体样式和pop的样式
.default-color {
  color: #00CCC3;
  cursor: pointer;
}

.form-pop {
  padding: 0;
}

.pop-panel {
  padding: 0;
  margin: 0;

  .pop-item {
    width: 190px;
    margin-bottom: 12px;
    color: #333333;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//确认删除弹框部分
.my-modal {
  .modal-footer {
    margin:5px 0;
  }

  .modal-btn-cancel {
    width: 80px;
  }

  .modal-btn-delete {
    width: 80px;
    border:none;
  }
}

