.originIndex {
  :global {
    .ant-table-tbody > tr > td {
      padding: 10px 8px;
    }
  }
}
.rankColumn {
  .rankSpan {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 7px;
  }
  .rank {
    width: 20px;
    height: 14px;
    margin-right: 7px;
  }
  .changes {
    width: 10px;
    height: 12px;
    vertical-align: -2px;
    margin-left: 13px;
  }
}
.marIncome {
  padding-left: 26px !important;
}