.originIndex {
  :global {
    .ant-table-thead > tr > th:nth-child(3), .ant-table-tbody > tr > td:nth-child(3), .ant-table-thead > tr > th:nth-child(4), .ant-table-tbody > tr > td:nth-child(4) {
      text-align: center; 
    }
    .ant-table-tbody > tr > td:hover {
      cursor: pointer;
    }
  }
  .rankColumn {
    width: 20px;
    text-align: center;
    >img {
      width: 100%;
    }
  }
}