// 公共表格样式
.tableContent {
  background-color: #ffffff;
  min-width: 1116px;
  padding: 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  .contentTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 0;
    .listTotal {
      color: #9A9DA1;
      font-size: 13px;
    }
  }
  .pagination {
    padding: 20px;
    overflow: hidden;
  }
  :global {
    .ant-table {
      font-size: 13px;
    }
    .ant-table-thead {
      background-color: #F6F7FA;
      th {
        border: none;
        color: #7B7C80;
      }
    }
    .ant-table-tbody {
      background-color: #FFFFFF;
      td {
        border-color: #EFF3F6;
        color: #1B1C20;
      }
    }
    .ant-pagination {
      font-size: 13px;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      padding: 16px 8px;
    }
  }
}
