@base-green: #52C9C2;
@base-green-shadow: rgba(82,201,194, 0.2);
@base-blue: #61B8FF;
@base-yellow: #FFBC00;
@base-color: rgba(0, 0, 0, 0.65);
@base-white: rgba(255, 255, 255, 1);

.pagination {
  padding: 20px;
  overflow: hidden;
}
// 公共表格样式
.tableContent {
  background-color: @base-white;
  padding: 20px;
  .contentTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 0;
    .listTotal {
      color: #9A9DA1;
      font-size: 13px;
    }
  }
}
