.pagination {
  padding: 20px;
  overflow: hidden;
}
// 公共表格样式
.tableContent {
  background-color: #ffffff;
  min-width: 1116px;
  padding: 20px;
  .contentTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 0;
    .listTotal {
      color: #9A9DA1;
      font-size: 13px;
    }
  }
}
