.container {
  margin-bottom: 100px;
  text-align: center;
}

.searchBox,.tableBox{
  width: 1300px;
  background: rgba(0,144,255,.05);
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}

.tableBox {
  box-shadow: rgb(0, 112, 183) 0px 0px 20px;
  -webkit-tap-highlight-color: transparent;
}


.searchWrap {
  color: #fff;
  float: left;
}

.rowTitle {
  color: #fff;
  float: left;
  line-height: 40px;
  width: 100px;
  text-align: left;
}

.row {
  float: left;
  text-align: left;
  width: 1130px;
  margin-bottom: 20px;
}

.row>div {
  margin-bottom: 20px;
}

.spanBtn {
  height: 40px;
}
