@import '~antd/lib/style/themes/default.less';
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
.logo {
  // height: 64px;
  // position: relative;
  // line-height: 64px;
  // padding-left: (@menu-collapsed-width - 32px) / 2;
  // transition: all 0.3s;
  // background: #00CCC3;
  // overflow: hidden;
  height: 54px;
  line-height: 54px;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
  }
  h1 {
    color: #52c9c2;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.sider {
  //min-height: 100vh;
  // box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  height:calc(100vh - 118px);
  position: fixed;
  //z-index: 1000;
  //overflow-y: auto;
  border-radius:20px;
  overflow: hidden;
  background:#ffffff;
  .secondaryMenu {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    .dot {
      margin-right:15px;
      display:block;
      width:5px;
      height:5px;
      border-radius:50%;
      background:#282828;
    }
    .name {
      width:75px;
      color:#282828;
    }
  }

  :global {
    .ant-layout-sider-children {
      //min-height:100vh;
      width:152px;
      //background-color: #00CCC3;
      background:#ffffff;
    }
    //.ant-menu-submenu-open {
    //  .ant-menu-submenu-title {
    //    background:#FFE300;
    //  }
    //}
    .ant-menu-submenu-active {
      .ant-menu-submenu-title {
        color:#282828;
      }
    }
    .ant-menu-submenu-open {
      .ant-menu-submenu-title {
        margin-bottom:0;
      }
    }
    .ant-menu-submenu-selected {
      color: #282828;
      //.ant-menu-submenu-title {
      //  background:#FFE300;
      //}
    }
    .ant-menu-submenu-title {
      margin:9px 0;
      padding-left:20px !important;
      font-size:14px;
    }
    .ant-menu-submenu-title {
      .ant-menu-submenu-arrow::after {
        background:linear-gradient(to right, #B9B9B9, #B9B9B9);
      }
      .ant-menu-submenu-arrow::before {
        background:linear-gradient(to right, #B9B9B9, #B9B9B9);
      }
    }
    .ant-menu-submenu-title:hover {
      background:#FFE300;
      .ant-menu-submenu-arrow::after {
        background:linear-gradient(to right, #B9B9B9, #B9B9B9);
      }
      .ant-menu-submenu-arrow::before {
        background:linear-gradient(to right, #B9B9B9, #B9B9B9);
      }
    }

    .ant-menu-item {
      padding-left:42px !important;
      font-size:12px;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #FFE300;
      &:after {
        display:none;
      }
    }
  }
  &.ligth {
    background-color: white;
    .logo {
      background: white;
      h1 {
        color: #002140;
      }
    }
  }
}

.menuBox {
  margin-top:31px;
  width:168px;
  height:calc(100vh - 259px);
  overflow-y:auto;
}

.menuInner {
  min-height:calc(100vh - 258px);
}

.icon {
  //width: 14px;
  margin-right: 10px;
  width:18px;
  height:18px;
}

:global {
  .drawer .drawer-content {
    background: #001529;
  }
  .ant-menu-inline-collapsed {
    & > .ant-menu-item .sider-menu-item-img + span,
    &
      > .ant-menu-item-group
      > .ant-menu-item-group-list
      > .ant-menu-item
      .sider-menu-item-img
      + span,
    & > .ant-menu-submenu > .ant-menu-submenu-title .sider-menu-item-img + span {
      max-width: 0;
      display: inline-block;
      opacity: 0;
    }
  }
  .ant-menu-item .sider-menu-item-img + span,
  .ant-menu-submenu-title .sider-menu-item-img + span {
    transition: opacity 0.3s @ease-in-out, width 0.3s @ease-in-out;
    opacity: 1;
  }
}
// 菜单主体
.menuPart {
  display: flex;
  :global {
    .ant-menu {
      width: 136px;
      height: 100%;
      padding-top: 54px;
      border: none;
      box-shadow: 2px 0 6px rgba(26, 28, 31, 0.05);
      z-index: 1;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #FFFFFF;
    }
    .ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
      content: none;
    }
    .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
      width: 100%;
    }
  }
  .rightMenu {
    width: 136px;
    background-color: #FFFFFF;
    .active {
      color: #00CCC3;
    }
  }
}
.menuUl {
  padding: 0;
  margin-bottom: 0;
  > li {
    display: flex;
    flex-direction: column;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 26px;
      margin: 0;
      margin-bottom: 10px;
      // border: 1px solid transparent;
    }
  }
  // 注：图片必须和背景色保持一致
  > .active {
    background-color: #FFFFFF;
    color: #00CCC3;
    // img {
    //   filter: drop-shadow(#00CCC3 20px 0);
    //   position: relative;
    //   left: -20px;
    // }
  }
}
