@import '~antd/lib/style/themes/default.less';
@import "../../layouts/styles/basic";
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);

.sider {
  height:calc(100vh - 118px);
  position: fixed;
  border-radius:20px;
  overflow: hidden;
  background: @menu-background;
  .secondaryMenu {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    .dot {
      margin-right:15px;
      display:block;
      width:5px;
      height:5px;
      border-radius:50%;
      background:@menu-text-color;
    }
    .name {
      width:75px;
      color:@menu-text-color;
    }
  }

  :global {
    .ant-layout-sider-children {
      width:152px;
      background:@menu-background;
    }

    .ant-menu-submenu-active {
      .ant-menu-submenu-title {
        color:@menu-text-color;
      }
    }

    .ant-menu-submenu-open {
      .ant-menu-submenu-title {
        margin-bottom:0;
      }
    }

    .ant-menu-submenu-selected {
      color: @menu-select-text;
    }

    .ant-menu-submenu-title {
      margin:9px 0;
      padding-left:20px !important;
      font-size:14px;
      color:@menu-text-color;
    }

    .ant-menu-submenu-title {
      .ant-menu-submenu-arrow::after {
        background:linear-gradient(to right, @menu-arrow-color, @menu-arrow-color);
      }
      .ant-menu-submenu-arrow::before {
        background:linear-gradient(to right, @menu-arrow-color, @menu-arrow-color);
      }
    }

    .ant-menu-submenu-title:hover {
      background: @menu-hover-color;
      .ant-menu-submenu-arrow::after {
        background:linear-gradient(to right, @menu-arrow-color, @menu-arrow-color);
      }
      .ant-menu-submenu-arrow::before {
        background:linear-gradient(to right, @menu-arrow-color, @menu-arrow-color);
      }
    }

    .ant-menu-item {
      padding-left:42px !important;
      font-size:12px;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @menu-select-color;
      &:after {
        display:none;
      }
    }
  }
}

.sider::-webkit-scrollbar {
  width:0;
  height:0;
}
.sider::-webkit-scrollbar-button    {
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar-track     {
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar-track-piece {
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar-corner {
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar-resizer  {
  background-color:rgba(0,0,0,0);
}
.sider::-webkit-scrollbar {
  width:10px;
  height:10px;
}

.menuBox {
  margin-top:31px;
  width:169px;
  height:calc(100vh - 279px);
  overflow-x:hidden;
  overflow-y:auto;
}

.menuInner {
  border:none;
  min-height:calc(100vh - 276px);
  width:152px;
}

.icon {
  margin-right: 10px;
  width:18px;
  height:18px;
}

:global {
  .drawer .drawer-content {
    background: #001529;
  }
  .ant-menu-inline-collapsed {
    & > .ant-menu-item .sider-menu-item-img + span,
    &
      > .ant-menu-item-group
      > .ant-menu-item-group-list
      > .ant-menu-item
      .sider-menu-item-img
      + span,
    & > .ant-menu-submenu > .ant-menu-submenu-title .sider-menu-item-img + span {
      max-width: 0;
      display: inline-block;
      opacity: 0;
    }
  }
  .ant-menu-item .sider-menu-item-img + span,
  .ant-menu-submenu-title .sider-menu-item-img + span {
    transition: opacity 0.3s @ease-in-out, width 0.3s @ease-in-out;
    opacity: 1;
  }
}
