@import '~antd/lib/style/themes/default.less';
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
.logo {
  // height: 64px;
  // position: relative;
  // line-height: 64px;
  // padding-left: (@menu-collapsed-width - 32px) / 2;
  // transition: all 0.3s;
  // background: #00CCC3;
  // overflow: hidden;
  height: 54px;
  line-height: 54px;
  text-align: center;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
  }
  h1 {
    color: #52c9c2;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 0 0 12px;
    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
}

.sider {
  min-height: 100vh;
  // box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  position: relative;
  z-index: 10;
  :global {
    .ant-layout-sider-children {
      background-color: #00CCC3;
    }
  }
  &.ligth {
    background-color: white;
    .logo {
      background: white;
      h1 {
        color: #002140;
      }
    }
  }
}

.icon {
  width: 14px;
  margin-right: 10px;
}

:global {
  .drawer .drawer-content {
    background: #001529;
  }
  .ant-menu-inline-collapsed {
    & > .ant-menu-item .sider-menu-item-img + span,
    &
      > .ant-menu-item-group
      > .ant-menu-item-group-list
      > .ant-menu-item
      .sider-menu-item-img
      + span,
    & > .ant-menu-submenu > .ant-menu-submenu-title .sider-menu-item-img + span {
      max-width: 0;
      display: inline-block;
      opacity: 0;
    }
  }
  .ant-menu-item .sider-menu-item-img + span,
  .ant-menu-submenu-title .sider-menu-item-img + span {
    transition: opacity 0.3s @ease-in-out, width 0.3s @ease-in-out;
    opacity: 1;
  }
}
// 菜单主体
.menuPart {
  display: flex;
  :global {
    .ant-menu {
      width: 136px;
      height: 100%;
      padding-top: 54px;
      border: none;
      box-shadow: 2px 0 6px rgba(26, 28, 31, 0.05);
      z-index: 1;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #FFFFFF;
    }
    .ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
      content: none;
    }
    .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
      width: 100%;
    }
  }
  .rightMenu {
    width: 136px;
    background-color: #FFFFFF;
    .active {
      color: #00CCC3;
    }
  }
}
.menuUl {
  padding: 0;
  > li {
    display: flex;
    flex-direction: column;
    height: 80px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 26px;
      margin: 0;
      margin-bottom: 10px;
      border: 1px solid transparent;
    }
  }
  // 注：图片必须和背景色保持一致
  > .active {
    background-color: #FFFFFF;
    color: #00CCC3;
    img {
      filter: drop-shadow(#00CCC3 20px 0);
      position: relative;
      left: -20px;
    }
  }
}