.title {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #353535;
  background:#ffffff;
  border-bottom: 1px solid #ebecef;
}
.title:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #52c9c2;
  margin: 0 6px 0 22px;
}

.contentWrap {
  box-sizing:border-box;
  padding: 30px 18px;
  background:#ffffff;
  border-radius: 0 0 20px 20px;
}

.fixBox {
  background: transparent;
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 500;
}
