.contentWrap{
  display: flex;
  margin-left: 10px;
  margin-bottom: 55px;
  width: 100%;
  .itemCls{
    width: 135px;
    height: 70px;
    .nameCls{
      margin-bottom: 10px;
      font-size: 14px;
      color: #787A7F;
    }
    .nameCls:before{
      content: '';
      display: inline-block;
      margin-right: 7px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #52C9C2;
      vertical-align: middle;
    }
    .dataCls{
      font-size: 30px;
      color: #18191A;
    }
  }
}
