.contentWrap{
  display: flex;
  margin-left: 10px;
  margin-bottom: 55px;
  width: 100%;
  .itemCls{
    width: 135px;
    height: 70px;
    margin-right: 100px;
    .nameCls{
      display: inline-block;
      margin-bottom: 10px;
      font-size: 14px;
      color: #52C9C2;
      cursor: pointer;
    }
    .nameCls:before{
      content: '';
      display: inline-block;
      margin-right: 7px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #52C9C2;
      vertical-align: middle;
    }
    .dataCls{
      font-family: PingFangSC-Semibold!important;
      font-size: 30px;
      color: #18191A;
    }
  }
}
.tooltipTitle{
  display: inline-block;
  width: 175px;
  color: #999;
  font-size: 12px;
}
.overlayClassName{
  :global(.ant-tooltip-inner){
background: #fff;
  }
  :global(.ant-tooltip-arrow){
    border-top-color: #fff;
      }
}
