.container {
  margin-bottom: 100px;
  text-align: center;
}

.searchBox,.tableBox{
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.searchBoxBg {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px 30px 0 30px;
  background: rgba(0,144,255,.05);
}

.searchBoxSeletected {
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 30px;
}


.tableBox {
  overflow: hidden;
  padding: 30px;
  background: rgba(0,144,255,.05);
  box-shadow: rgb(0, 112, 183) 0px 0px 20px;
  -webkit-tap-highlight-color: transparent;
}


.searchWrap {
  color: #fff;
  float: left;
}

.rowTitle {
  color: #fff;
  float: left;
  line-height: 40px;
  width: 100px;
  text-align: left;
}

.row {
  float: left;
  text-align: left;
  width: 1130px;
  margin-bottom: 20px;
}

.row>div {
  margin-bottom: 20px;
}

.spanBtn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  background: #0A325D;
  padding: 0 10px;
  color: #1683FB;
  border-radius: 2px;
  margin-right: 20px;
  max-width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.tableHead {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
  color: #fff;
}

.tableHeadLeft {
  float: left;
}

.tableHeadRight {
  float: right;
  margin-left: 20px;
}


.breadcrumb {
  margin: 0 auto 30px;
  width: 1300px;
}

.modalWrap {
  width: 300px;
  margin: auto;
}
