.container {
  margin-bottom: 100px;
  text-align: center;
}

.searchBox,.tableBox{
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}

.searchBoxBg {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px 30px 0 30px;
  //background: rgba(0,144,255,.05);
}

.searchBoxSeletected {
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 30px;
}


.tableBox {
  overflow: hidden;
  padding: 30px;
}


.searchWrap {
  float: left;
}

.rowTitle {
  float: left;
  line-height: 32px;
  width: 100px;
  text-align: left;
}

.row {
  float: left;
  text-align: left;
  width: 1130px;
  margin-bottom: 20px;
}

.row>div {
  margin-bottom: 20px;
}

.spanBtn {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: 1px dotted #DCDDE0;
  background: #fff;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  margin-right: 20px;
  max-width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.tableHead {
  height: 42px;
  line-height: 42px;
  margin: 10px 0;
}

.tableHeadLeft {
  float: left;
}

.tableHeadRight {
  float: right;
  margin-left: 20px;
}


.breadcrumb {
  margin: 0 auto 30px;
  width: 1300px;
}

.modalWrap {
  width: 300px;
  margin: auto;
}
// 输出省份

.provinceCotainer{
width: 100%;
height: 100px;
.provinceBtn{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #52C9C2;
  border-radius: 2px;
  max-width: 300px;
  text-overflow:ellipsis;
  white-space: nowrap;
  cursor:pointer;
}
.selectedProvinceBtn{
  &:extend(.provinceCotainer .provinceBtn);
}
}
