.classQuality {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  .functionBar {
    position: fixed;
    top: 230px;
    left: 236px;
    z-index: 8;
    height: 240px;
    width: 55px;
    background-color: #FFFFFF;
    box-shadow:0px 3px 7px 0px rgba(0,0,0,0.12);
    border-radius:28px;
    display: flex;
    flex-direction: column;
    span {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 18px;
      }
      :global {
        .ant-back-top {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: inherit;
        }
      }
    }
  }
  .navigation {
    position: fixed;
    z-index: 2;
    top: 138px;
    right: 0;
    width: 258px;
    background:rgba(245,248,250,1);
    box-shadow:0px 0px 8px 0px rgba(0,0,0,0.12);
    border-radius:4px;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    .title {
      display: flex;
      padding: 16px 0;
      border-bottom: 1px solid #E8EBED;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      img {
        width: 10px;
        height: 10px;
        cursor: pointer;
      }
    }
    :global {
      .ant-anchor-wrapper {
        padding: 0 10px;
        // margin-left: 0;
        // border: 1px solid #E8EBED;
      }
      .ant-anchor-link {
        height: 42px;
        line-height: 42px;
        padding: 0;
        border-radius: 6px;
        padding-left: 10px;
      }
      .ant-anchor-ink {
        display: none;
      }
      .ant-anchor-link-active {
        background-color: #00CCC3;
      }
      .ant-anchor-link-active > .ant-anchor-link-title {
        color: #FFFFFF;
      }
    }
  }
  .search {
    display: inline-block;
    position: relative;
    padding-bottom: 16px;
    .icon {
      position: absolute;
      width: 15px;
      height: 15px;
      z-index: 2;
      top: 9px;
      left: 10px;
    }
    .BIInput {
      width: 244px;
    }
    input {
      width: 244px;
      padding-left: 34px;
    }
  }
  .searchFixed {
    top: 0;
    width: calc(100vw - 230px);
    text-align: center;
    background:rgba(245,248,250,1);
    z-index: 4;
    position: fixed;
    padding-top: 16px;
  }
  .treeCatalog {
    // display: flex;
    position: relative;
    // height: calc(100vh - 150px);
    // background-color: #FFFFFF;
    // box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1);
    .catalog {
      width: 800px;
      padding: 74px 90px 24px 90px;
      color: #1A1C1F;
      background-color: #FFFFFF;
      box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1);
      min-height: calc(100vh - 200px);
      .title {
        font-size: 30px;
        text-align: center;
        padding-bottom: 8px;
        border-bottom: 1px solid #E8ECF1;
        .dateChange {
          font-size: 12px;
          color: #888888;
          margin: 6px 0;
        }
      }
      .level {
        .class{
          font-weight: bold;
          display: flex;
          align-items: center;
          position: relative;
          img {
            height: 22px;
            margin-left: 8px;
          }
        }
        .classA {
          font-size: 22px;
          margin-top: 26px;
          .tagging {
            top: 24px;
          }
        }
        .classB {
          font-size: 18px;
          margin-top: 8px;
        }
        .classC {
          font-size: 16px;
          margin-top: 8px;
        }
        .classD {
          font-size: 14px;
          margin-top: 8px;
        }
        .classE {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #00CCC3;
          margin-left: 24px;
          margin-top: 4px;
          cursor: pointer;
          position: relative;
          z-index: 3;
          width: 66px;
        }
        .classE::before {
          content: '·';
          color: #1A1C1F;
          font-size: 20px;
        }
        .detailed {
          background:rgba(0,204,195,0.1);
          font-size: 13px;
          padding: 16px 16px 16px 24px;
          border-radius:6px;
          margin-left: 24px;
        }
        .violationName {
          position: relative;
          padding: 8px 6px;
          z-index: 3;
          background-color: #FFFFFF;
        }
        .tagging {
          position: absolute;
          width: 730px;
          top: 20px;
          z-index: 2;
          font-size: 13px;
          color: #1A1C1F;
          text-align: right;
          font-weight: 100;
        }
        .tagging > span {
          display: inline-block;
          text-align: left;
          margin-right: -138px;
          margin-top: -12px;
          line-height: 24px;
          width: 114px;
        }
        .tagging::after{
          content: '';
          position: absolute;
          display: inline-block;
          width: 10px;
          height: 10px;
          top: -6px;
          border-radius: 10px;
        }
        // 选中功能2
        .classSelected2 {
          .violationName {
            border: 1px solid #FF0200;
          }
          .tagging {
            border-top: 1px dashed #FF0200;
          }
          .tagging::after {
            background-color: #FF0200;
          }
        }
        // 选中功能2
        .classSelected3 {
          .violationName {
            border: 1px solid #00CCC3;
          }
          .tagging {
            border-top: 1px dashed #00CCC3;
          }
          .tagging::after {
            background-color: #00CCC3;
          }
        }
      }
      
    }
    .catalogNoData {
      display: flex;
      flex-direction: column;
      .noData {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > img {
          width: 102px;
        }
        font-size: 14px;
        color: #666666;
      }
    }
    .catalogTime {
      position: absolute;
      top: 36px;
      right: -184px;
      display: flex;
      flex-direction: column;
      > span:first-child {
        color: #555555;
        font-size: 15px;
        margin-bottom: 8px;
      }
      >span:last-child {
        color: #888888;
        font-size: 12px;
      }
    }
  }
}