.echartBottom{
  //width:94%;
  margin-right:20px;
  margin-left:20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  .blue{
    margin-right:29px;
    color: #55595E;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      width:8px;
      height:8px;
      border-radius: 100%;
      background: #47D3FF;
      margin-right:7px;
    }
  }
  .yellow{
    color: #55595E;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      width:8px;
      height:8px;
      border-radius: 100%;
      background: #FF8086;
      margin-right:7px;
    }
  }
}
