.qualityContainter {
  min-width: 1100px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  padding: 20px 40px 50px;
}
.qualityContainter .title {
  background: #f0f0f0;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  color: #000;
}
.qualityContainter .text {
  padding: 0 15px;
}
.qualityContainter .content {
  border-bottom: 1px solid #EBECEF;
  padding: 15px 0;
}
.qualityContainter .content:last-child {
  border: none;
}
.qualityContainter .gutterBox1 {
  text-align: right;
  padding-top: 50px;
}
.qualityContainter .gutterBox1 .gutterBtn2 {
  margin-right: 20px;
}
.verify {
  padding-top: 20px;
  color: #000;
  line-height: 25px;
}
.verify .label {
  display: inline-block;
  white-space: nowrap;
}
.verify .verifyContent {
  padding-top: 20px;
}
.appealMaster {
  margin-left: 20px;
}
.appealMaster .appealTitle {
  font-weight: bold;
}
:global .txRight {
  text-align: right;
}
:global .labelWidth .ant-form-item label {
  width: 120px;
}
:global(.ant-row) {
  padding-bottom: 8px;
}
:global(.ant-form-item label) {
  font-size: 14px;
  width: 95px;
}
:global(.ant-form-inline .ant-form-item) {
  margin-right: 0;
}
