
@base-green: #52C9C2;
@base-green-shadow: rgba(82,201,194, 0.2);
@base-blue: #46A3EF;
@base-yellow: #F29F38;

@base-color:rgba(0, 0, 0, 0.65);



@primary-color: #00CCC3; // 全局主色
@danger-color: #FF4A53;
@warning-btn-color: #FFBC00;
@reset-color: #E8EBED;

@base-new-color: #FFFFFF;
@base-text-color: #56595E;
@base-placeholder-color: #B8BBBF;
@base-disabled-color: #F5F8FA;