.personInfoCon {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  padding: 20px 18px 0;
}
.secRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 3px;
}
.secRow > div {
  margin-top: 10px;
}
.secRow > div {
  display: inline-block;
}
.secRow > div span:last-child {
  margin-left: 50px;
}
.secCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 18px;
  margin-right: 18px;
}
.secCol :last-child {
  flex: 1;
}
.secctionTitle {
  height: 43px;
  background-color: #f6f7fa;
  line-height: 43px;
  padding-left: 18px;
  font-size: 14px;
  color: #353535;
}

.divideLine {
  height: 1px;
  background-color: #ebecef;
  flex: 1;
  margin: 24px 12px 0 12px;
}
.appealInfo {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background: #fff;
  font-weight: bold;
  margin: 15px 0;
}
.appealInfo:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #52c9c2;
  margin: 0 6px 0 22px;
}
.appealInfo > span {
  color: #000000;
  font-weight: 400;
  margin-left: 10px;
}
.appealPerson {
  display: flex;
  flex-direction: column;
  border: 1px solid #d5dae2;
  padding-bottom: 10px;
}
.secctionTitle {
  display: block;
  height: 35px;
  background-color: #f6f7fa;
  line-height: 35px;
  padding-left: 18px;
  font-weight: bold;
}
.resultDotColor{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.resultDotColor1:before {
  /*content: '';*/
  /*position: absolute;*/
  /*top: 42%;*/
  /*left: -10px;*/
  /*display: inline-block;*/
  /*width: 5px;*/
  /*height: 5px;*/
  /*border-radius: 50%;*/
  /*background: #52c9c2;*/
  color: #52c9c2;
}
.resultDotColor2::before {
  /*content: '';*/
  /*position: absolute;*/
  /*top: 42%;*/
  /*left: -10px;*/
  /*display: inline-block;*/
  /*width: 5px;*/
  /*height: 5px;*/
  /*border-radius: 50%;*/
  /*background: #ff0000;*/
  color: #ff0000;
}
.showPanel {
  flex: 1;
}
.hidePanel {
  display: none !important;
}
.row-gap {
  height: 10px;
}
