.topCon {
  position: relative;
  width: 33%;
  height: 372px;
  // overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  // margin-left: 20px;

  .title {
    display: flex;
    justify-content: space-between;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #f5f8fa;
    color: #1a1c1f;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .tableTitle {
    position: absolute;
    display: flex;
    height: 48px;
    z-index: 1;
    width: 100%;
    padding: 16px 24px;
    top: 46px;
    span {
      width: 141px;
      text-align: center;
      display: inline-block;
    }
    span:nth-child(1) {
      // width: 60px;
      text-align: center;
    }
    span:nth-child(2) {
      display: inline-block;
      height: 40px;
      width: 100%;
      text-align: left;
    }
    span:nth-child(3) {
      width: 191px;
      text-align: left;
      display: inline-block;
    }
    span:nth-child(4) {
      width: 165px;
      display: inline-block;
      text-align: left;
    }
  }

  .tableContainer {
    padding: 16px 24px;
    // overflow-y: auto;
    height: 335px;

    :global {
      .ant-table-tbody td {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
      }
      // .ant-table-thead > tr > th {
      //   text-align: center;
      // }
      .ant-table-thead > tr > th:nth-child(1) {
        text-align: left !important;
      }
      // .ant-table-thead > tr > th:nth-child(2) {
      //   text-align: center !important;
      // }

      .ant-table-thead > tr:first-child > th:first-child,
      .ant-table-tbody > tr > td:first-child {
        padding-left: 16px;
      }

      .ant-table-thead > tr:last-child > th:last-child,
      .ant-table-tbody > tr > td:last-child {
        text-align: right;
        padding-right: 16px;
      }
      // @media screen and (min-width: 1441px) and (max-width: 1920px) {
      //   .ant-table-thead > tr:nth-child(2) > th:nth-child(2) > div,
      //   .ant-table-tbody > tr > td:nth-child(2) > div {
      //     // display: inline-block;
      //     white-space: nowrap;
      //     width: 290px;
      //     overflow: hidden;
      //     text-overflow: ellipsis;
      //   }
      // }
      // @media screen and (min-width: 0) and (max-width: 1440px) {
      //   .ant-table-thead > tr:nth-child(2) > th:nth-child(2) > div,
      //   .ant-table-tbody > tr > td:nth-child(2) > div {
      //     // display: inline-block;
      //     white-space: nowrap;
      //     width: 120px;
      //     overflow: hidden;
      //     text-overflow: ellipsis;
      //   }
      // }
    }
    // overflow-y: auto;
  }
}
.rankColumn {
  .rankSpan {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 7px;
  }
  .rank {
    width: 20px;
    height: 14px;
    margin-right: 7px;
  }
  .changes {
    width: 10px;
    height: 12px;
    vertical-align: -2px;
    margin-left: 13px;
  }
}
