.editWrap {
  // background: #fff;

  .header {
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    border-radius: 8px;
    width: 100%;
    background: #fff;
  }

  .goodPerformance {
    border-radius: 8px;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding-bottom: 20px;

    .title {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #f6f7fa;
      padding-left: 20px;
    }

    .goodPerWrap {
      padding: 0 20px;
      .smallPerformance {
        font-size: 12px;
        line-height: 40px;
      }
    }

    .precentWrap {
      width: 96%;
      height: 80px;
      line-height: 80px;
      border: 1px solid #f1f4f7;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 0 20px;
    }

    .btn {
      margin: 0 5px;
      cursor: pointer;
      color: #00ccc3;
    }

    .addTable {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #f2fcfc;
      margin-top: -40px;
      text-align: center;
      color: #07cdc4;
      cursor: pointer;
    }
    :global .BITable {
      padding-bottom: 40px;

      .ant-table-thead > tr > th {
        border-bottom: none;
        text-align: center;
      }
      .ant-table-tbody > tr > td {
        border-bottom: 1px solid #fff;
      }

      .ant-table-placeholder {
        border-top: 1px solid #fff;
      }

      .ant-table-thead > tr:first-child > th:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .ant-table-thead > tr:first-child > th:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .BIInput .ant-input {
        border-radius: 6px !important;
      }
    }
  }
}
