.editWrap {
  // background: #fff;

  .header {
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    border-radius: 8px;
    width: 100%;
    background: #fff;
  }

  .goodPerformance {
    border-radius: 8px;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding-bottom: 20px;

    .title {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #f6f7fa;
      padding-left: 20px;
    }

    .goodPerWrap {
      padding: 0 20px;
      .smallPerformance {
        font-size: 12px;
        line-height: 40px;
      }
    }

    .precentWrap {
      width: 96%;
      height: 80px;
      line-height: 80px;
      border: 1px solid #f1f4f7;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 0 30px;
    }

    .precentWrap1 {
      width: 96%;
      height: 80px;
      line-height: 80px;
      border: 1px solid red;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 0 30px;
    }
    .precentWrap2 {
      width: 96%;
      height: 120px;
      line-height: 40px;
      border: 1px solid #f1f4f7;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 10px 30px 0;
    }

    .precentWrap3 {
      width: 96%;
      height: 120px;
      line-height: 40px;
      border: 1px solid red;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 10px 30px 0;
    }
    .btn {
      margin: 0 5px;
      cursor: pointer;
      color: #00ccc3;
    }

    .addTable {
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #07cdc4;
      cursor: pointer;
      margin: 0;
    }
    .addTable:hover {
      background: #f2fcfc;
    }

    .border {
      border: 1px solid #f0f5f7;
      border-radius: 6px;
    }

    .border2 {
      border: 1px solid red;
    }

    .meta {
      background: #f6f7fa;
      // width: 100%;
      padding: 0 30px;
      height: 40px;
      line-height: 40px;
      margin: 0;
    }

    .line {
      float: 'left';
      margin: '0 20px';
      line-height: '30px';
    }
    .itemLeft {
      float: left;
      width: 55%;
      text-align: center;

      .itemRangeLeft {
        float: 'left';
        margin: '0';
      }
      .itemRangeLeft > span {
        width: '100px';
        display: 'inline-block';
        margin: '0 5px 0 8px';
      }
    }
    .itemMiddle {
      float: left;
      width: 35%;
      text-align: center;
    }
    .itemRight {
      width: 10%;
      text-align: center;
      float: left;
    }

    .listItem {
      overflow: hidden;
      border-bottom: 1px solid #F5F8FA;
      padding: 23px 30px;
      margin: 0;

      li {
        padding: 10px 0;
        height: 62px;
        width: 100%;
        line-height: 40px;
      }
    }
    :global .BIInput {
      .ant-input {
        border-radius: 6px;
      }
    }
    :global .BITable {
      padding-bottom: 40px;

      .ant-table-thead > tr > th {
        border-bottom: none;
        text-align: center;
      }
      .ant-table-tbody > tr > td {
        border-bottom: 1px solid #fff;
      }

      .ant-table-placeholder {
        border-top: 1px solid #fff;
      }

      .ant-table-thead > tr:first-child > th:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .ant-table-thead > tr:first-child > th:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .BIInput .ant-input {
        border-radius: 6px !important;
      }
    }
  }
}
