.editWrap {
  // background: #fff;

  .header {
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    border-radius: 8px;
    width: 100%;
    background: #fff;
  }

  .goodPerformance {
    border-radius: 8px;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding-bottom: 20px;

    .title {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #f6f7fa;
      padding-left: 20px;
    }

    .goodPerWrap {
      padding: 0 20px;
      .smallPerformance {
        font-size: 12px;
        line-height: 40px;
      }
    }

    .precentWrap {
      width: 96%;
      height: 80px;
      line-height: 80px;
      border: 1px solid #f1f4f7;
      margin: 20px auto 0;
      border-radius: 8px;
      padding: 0 20px;
    }
  }
}
