.scoreWrap {
  overflow: hidden;
  margin-bottom: 27px;
}
.scoreHeader {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.leftLine {
  display: inline-block;
  width: 4px;
  height: 18px;
  background: rgba(255, 227, 0, 1);
  vertical-align: sub;
}

.leftText {
  display: inline-block;
  width: 60px;
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(26, 28, 31, 1);
}

.date {
  display: inline-block;
  float: right;
}
