.wrap{
  height: 34px;
  line-height: 34px;
  background: #fff;
  width: 100%;
  padding-left: 24px;
}

.wrap>span {
  height: 34px;
  float: left;
  width: 30px;
  margin-right: 50px;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #52C9C2;
  color: #52C9C2!important;
}

.actionBtn {
  padding: 0 5px;
  color: #52C9C2;
  cursor: pointer;
  display: inline-block
}
