@import "../config.less";

:global .BITabs {
  // .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
  //   color:@base-green;
  // }
  // .ant-tabs-nav .ant-tabs-tab:hover{
  //   color:@base-green;
  // }
  // .ant-tabs-nav .ant-tabs-tab-active {
  //   color: #52C9C2;
  // }
  .ant-tabs-bar{
    margin-bottom: 0;
  }
  .ant-tabs-ink-bar {
    // background-color: #52C9C2;
    width: 30px!important;
    left: 40px;
  }
}


