@base-blue: #61B8FF;
@base-yellow: #FFBC00;
@base-white: rgba(255, 255, 255, 1);
@base-color: #56595E;
// 黄色
.btnYellow {
  display: flex;
  min-width: 80px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: @base-white;
  background-color: @base-yellow;
  border-color: @base-yellow;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btnYellow:hover, .btnYellow:focus {
  background-color: @base-white;
  border-color: @base-yellow;
  color: @base-color;
}
// 蓝色
.btnBlue {
  display: flex;
  min-width: 80px;
  height: 34px;
  justify-content: center;
  align-items: center;
  color: @base-white;
  background-color: @base-blue;
  border-color: @base-blue;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btnBlue:hover, .btnBlue:focus {
  background-color: @base-white;
  border-color: @base-blue;
  color: @base-color;
}
