// 全局样式
:global .aiWorktable-ant-layout-content {
  position: relative;
  overflow: visible;
}
// 外层平铺容器
.reportExamTable {
  position: absolute;
  top: 0;
  left: -18px;
  right: -18px;
  border-top: 1px solid #F5F8FA;
}

