// 全局样式
:global {
  .aiWorktable-ant-layout-content {
    //position: relative;
    overflow: visible;
  }
}

// 外层平铺容器
.reportExamTable {
  //position: absolute;
  border-top: 1px solid #F5F8FA;
  margin: -28px -18px 0 -18px;
}

