// 全局样式
:global {
  .aiWorktable-ant-layout-content {
    position: relative;
    overflow: visible;
  }
  .aiWorktable-ant-layout-content::-webkit-scrollbar { width: 0 !important }
}

// 外层平铺容器
.reportExamTable {
  position: absolute;
  top: 0;
  left: -18px;
  right: -18px;
  border-top: 1px solid #F5F8FA;
}

