.BIWrapperProgress {
  display: flex;
  align-items: center;
  .pro {
    text-align: right;
    flex: 1;
    position: relative;
    > span {
      display: inline-block;
      position: absolute;
      left: 4px;
      top: -1px;
      height: 100%;
      white-space: nowrap;
    }
  }
  >img {
    width: 14px;
    height: 14px;
    margin-left: 16px;
  }
}
