.aiDetail {
  overflow: hidden;
  width:100%;
  min-height:800px;
  position:relative;
  display:flex;
  .baseInfo{
    background: #fff;
    padding: 0 0 30px;
    border-radius: 10px;
    width:680px;
  }
  .dataClassfy{
    background: #fff;
    padding: 0 0 30px;
    border-radius: 10px;
    width:425px;
    margin-left:10px;
  }
}

.headBar {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ebecef;
  padding-left: 28px;
  font-size: 16px;
  color:#1A1C1F;
}