:global .npsTabs {
  // .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
  //   color:@base-green;
  // }
  // .ant-tabs-nav .ant-tabs-tab:hover{
  //   color:@base-green;
  // }
  // .ant-tabs-nav .ant-tabs-tab-active {
  //   color: #52C9C2;
  // }
  .ant-tabs-tab {
    width: 45px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #686868;
    border-radius: 4px 4px 0px 0px;
  }
  .ant-tabs-tab-active {
    width: 45px;
    height: 24px;
    background: rgba(255, 227, 0, 1);
    border-radius: 4px 4px 0px 0px;
    color: #282828;
  }
  .ant-tabs-ink-bar {
    background: rgba(255, 227, 0, 1) !important;
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-tabs-bar {
    border-bottom: 2px solid #ffe300;
    margin-bottom: 0;
  }
}
