// 全局样式
:global .aiWorktable-ant-layout-content {
  position: relative;
  overflow: visible;
}
// 外层平铺容器
.reportExamTable {
  position: absolute;
  top: 0;
  left: -18px;
  right: -18px;
  border-top: 1px solid #F5F8FA;
}
// 搜索框样式
.formCotainer{
  position: relative;
  width: 100%;
  min-width: 1116px;
  padding:16px 32px 24px 32px;
  background-color: #fff;
  border-radius-topleft:10px;
  border-radius-topright:10px;
  :global{
    .ant-advanced-search-form .ant-form-item{
      width: 100%;
    }
    .ant-form-item-control-wrapper{
      width: 100%;
    }
    .BISelect .ant-select-selection {
      border-radius: 6px;
    }
    .ant-input {
      border-radius: 6px;
    }
    .BIDatePicker .ant-calendar-range-picker-input {
      transform: scale(1);
    }
  }
  .rowWrap{
    display: flex;
    .itemCls{
      width: 136px;
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    .itemTips {
      width: 65px;
      font-size: 13px;
      margin-right: 0;
      margin-top: -2px;
    }
    .itemDates {
      width: 288px;
    }
  }
  .rowWrapMar {
    margin-top: 18px;
    height: 32px;
    align-items: center;
    .itemTips {
      margin-top: 0px;
    }
  }
  .actionGroup{
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    position: relative;
    justify-content: center;
    .updateDate {
      position: absolute;
      right: 0;
      text-align: right;
      font-size: 13px;
      color: #B8BBBF;
    }
  }
  // 已选条件样式
  .selectedContent {
    .items {
      min-width: 20px;
      border-radius: 6px;
      padding: 8px;
      background-color: #FFF4F2;
      margin-right: 8px;
      .icons {
        margin-left: 12px;
      }
    }
  }
}

// 搜索结果
.searchResult {
  display: flex;
  height: 80px;
  margin: 16px;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  .totalNumber {
    font-size: 13px;
    > span {
      color: #00CCC3;
    }

  }
}

