@base-green: #52C9C2;
@base-green-shadow: rgba(82,201,194, 0.2);
@base-blue: #61B8FF;
@base-yellow: #FFBC00;
@base-color: rgba(0, 0, 0, 0.65);
@base-white: rgba(255, 255, 255, 1);

:global .tabGroupContainer {
  background-color: #FFFFFF;
  .ant-tabs-bar {
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
  }
  .ant-tabs-ink-bar {
    background-color: @base-green;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: @base-color;
  }
}
:global .aiWorktable-ant-layout-content {
  position: relative;
  overflow: visible;
}

.aiWorktable {
  position: absolute;
  top: 0;
  left: -18px;
  right: -18px;
  .aiWorktableMain {
    margin: 18px;
  }
}


.exportBtn {
  width: 90px;
  height: 34px;
  color: @base-white;
  background-color: @base-yellow;
  border-color: @base-yellow;
  -webkit-box-shadow: none;
  box-shadow: none;
  img {width: 14px;margin-right: 2px;}
}
.exportBtn:hover {
  background-color: @base-yellow;
  border-color: @base-yellow;
  color: @base-white;
}

.exportEvaluate {
  width: 102px;
  height: 34px;
  color: @base-white;
  background-color: @base-blue;
  border-color: @base-blue;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 6px;
}
.exportEvaluate:hover {
  background-color: @base-blue;
  border-color: @base-blue;
  color: @base-white;
}

.listReactTooltip {
  max-width: 700px;
  max-height: 500px;
  overflow-y: scroll;
  pointer-events: auto;
}


.behavior {
  padding: 10px 0 10px 10px;
  margin-bottom: 0;
  max-width: 700px;
}
.behavior li:last-child .content {
  border: none;
}
.step {
  display: flex;
  align-items: flex-start;
}
.step .time {
  width: 175px;
  margin-top: -4px;
  color: #999;
  text-align: right;
  padding-right: 40px;
  flex-shrink:0;
}
.step .content {
  border-left: 1px solid #cff0ee;
  padding-left: 15px;
  position: relative;
  padding-bottom: 5px;
}
.step .content .text {
  padding-bottom: 30px;
  margin-top: -4px;
  padding-left: 30px;
}
.step .content .bigDot {
  width: 12px;
  height: 12px;
  background: #48c2ba;
  border-radius: 50px;
  position: absolute;
  left: -6px;
  top: 0;
}
.step .content .bigDot .dot {
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50px;
  margin: 4px auto 0;
  background: #fff;
}
.behavior .title .text,
.behavior .title .time {
  margin-top: -2px;
  color: #000;
  font-weight: bold;
}
.behavior .title .bigDot {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 2px solid #48c2ba;
  left: -8px;
  box-sizing: border-box;
  cursor: pointer;
}
.behavior .title .bigDot .dot::before {
  content: '-';
  position: absolute;
  left: 1px;
  top: -8px;
  font-size: 18px;
  font-weight: bold;
  color: #48c2ba;
}
.behavior .title .plus .dot::before {
  content: '+';
  position: absolute;
  left: 2px;
  top: -5px;
  font-size: 14px;
  color: #48c2ba;
}
.behavior .title .plus .dot {
  width: 8px;
  height: 8px;
}
.behavior .chatLeft .avatar,
.behavior .chatRight .avatar {
  text-align: center;
  // height:55px;
  min-width:70px;
}
.behavior .chatLeft .avatar img,
.behavior .chatRight .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.behavior .chatLeft .avatar p,
.behavior .chatRight .avatar p {
  font-size: 12px;
  transform: scale(0.9);
  margin-bottom:0;
}
.behavior .chatLeft,
.behavior .chatRight {
  display: flex;
  align-items: flex-start;
  padding-bottom:10px;
}
.behavior .chatLeft .chatContent {
  width: 175px;
  background: #f6f7fa;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 6px 10px;
  position: relative;
  word-break: break-all;
  color: #595959;
}

.behavior .chatLeft .triangle {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: transparent #e8e8e8 transparent transparent;
  position: absolute;
  top: 10px;
  left: -5px;
}
.behavior .chatLeft .triangle em {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: transparent #f6f7fa transparent transparent;
  position: absolute;
  top: -5px;
  left: 2px;
}

.behavior .chatRight {
  padding-left: 90px;
  padding-bottom: 10px;
}
.behavior .chatRight .chatContent {
  width: 210px;
  background: #48c2ba;
  border: 1px solid #48c2ba;
  border-radius: 5px;
  // margin-right: 15px;
  padding: 6px 10px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  word-break: break-all;
}
.behavior .chatRight .miniApp, .behavior .chatLeft .miniApp{
  background:#fff;
  border: 1px solid #48c2ba;
  color:#000;
  padding-top:10px;
  padding-bottom:10px;
}
.behavior .chatRight .miniApp img,  .behavior .chatLeft .miniApp img{
  margin-right:8px;
}
.behavior .chatRight .triangle {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #48c2ba;
  position: absolute;
  top: 10px;
  right: -5px;
}
.behavior .chatRight .triangle em {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #48c2ba;
  position: absolute;
  top: -5px;
  right: 2px;
}
.step .prise {
  display: flex;
  padding-left: 30px;
  color: #52c9c2;
  padding-bottom: 20px;
}
.step .prise .stars {
  padding-left: 10px;
}

.step .prise img {
  width: 15px;
  vertical-align: middle;
}

/*bbs*/
.behavior .post {
  width: 340px;
  padding: 0 0 15px 58px;
}
.behavior .post .postHead {
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: 0;
  color: #000;
}
.behavior .post .postBody {
  color: #595959;
  line-height: 26px;
  border-bottom: 1px dashed #e8e8e8;
  padding: 8px 0;
  word-break: break-all;
}
.behavior .post .postBody:nth-child(2){
  margin-bottom:8px;
}
.behavior .post .postBody:nth-child(3){
  background:#F6F7FA;
  border-radius:4px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  z-index:2;
}
.behavior .post .postBody:nth-child(4){
  background:#F6F7FA;
  border-radius:4px;
  margin-top:-4px;
  padding-left:10px;
  padding-right:10px;
}

.behavior .post .postBody:last-child {
  border: none;
}
.behavior .post .postBody .toggle {
  color: #52c9c2;
  margin-left: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.study .studyTitle {
  font-weight: bold;
  color: #000;
}
.study .studyTitle .time {
  color: #000;
}
.study .priseBox {
  flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 20px;
}
.study .prise1 {
  display: flex;
  color: #52c9c2;
}
.stars i {
  margin-right: 5px;
  color: #52c9c2;
}
.stars .empty {
  color: #e8e8e8;
}
.study .prise2 {
  display: flex;
  padding: 10px 0 0;
  flex-wrap: wrap;
  max-width:380px;
}
.study .prise2 .label {
  background: #f6f7fa;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 0 8px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.privateLetter .privateToggle {
  width: 330px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #52c9c2;
  margin: -10px 0 20px 30px;
  padding: 12px;
}

.privateLetter .privateToggle {
  /*margin-top:20px;*/
}
.privateLetter .privateToggle .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.privateLetter .privateToggle .intro p {
  font-size: 12px;
  padding-left: 15px;
  line-height: 20px;
  margin-bottom: 0;
  word-break: break-all;
}
.privateLetter .privateToggle .intro .name {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
}
.privateLetter .last .content {
  padding-bottom: 20px;
}

.comWrap {
  padding-top: 20px;
  min-height: 700px;
  position:relative;
}
.comWrap :global .ant-spin-nested-loading{
  padding-bottom:70px;
  width:50%;
}
.comWrap :global .ant-empty {
  font-size: 12px;
  margin-left: -68px;
  margin-top: -10px;
  width:480px;
  .ant-empty-image {
    height: 50px;
  }
}

.prise3{
  position:relative;
  padding-left:70px;
  width:300px;
  word-break: break-all;
  line-height:23px;
  padding-top:8px;
}
.prise3::before{
  content:"评价课程：";
  position:absolute;
  left:0;
  top:10px;
}

.pagers{
  width:100%;
  position:absolute;
  bottom:20px;
  left:0;
  box-sizing: border-box;
  padding-right:30px;
}
.expressionArea{
  width:140px;
  height:24px;
  background:#fff;
  border-radius:14px;
  margin-left:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  box-sizing:border-box;
  padding:0 4px;
  .progress{

    .progressText{
      font-size:12px;
      display:flex;
      justify-content:space-between;
      color:#262626;
      margin-bottom:0;
      line-height:14px;
    }
    .progressBar{
      width:80px;
      height:4px;
      border-radius:14px;
      background:#ccc;
      overflow:hidden;
      display:flex;
      .bar1{
        height:4px;
        width:60%;
        background:#52c9c2;
      }
      .bar2{
        height:4px;
        width:40%;
        background:#FF6D6D;
      }
    }
  }
  img{
    width:16px;
    height:16px;
  }
}
.tooltipContent{
  h4{
    color:#fff;
    margin-top:10px;
  }
  p{
    font-size:13px;
    color:#B8BBBF;
    margin-bottom:0;
  }
}
