.layout {
  min-width: 1050px;
}

.contentLayout {
  background: #fff;
  margin-top: 16px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.left {
  float: left;
  margin: 20px 30px;
}
.right{
  float: left;
  margin-top: 25px;
  line-height: 40px;
}
.sex {
  color: #FF549B;
}

.item,.item2 {
  margin-right: 18px;
  color: #1A1C1F;
}
.item2 {
  margin-left: 30px;
}

.item2:last-child {
  margin-right: 0;
}
.name {
  font-size: 16px;
  font-weight: bold;
  color: #1A1C1F;
}

.row {
  text-align: center;
  margin: auto;
  color: #7A7C80;
}
.baseCol>span{
  display: inline-block;
  cursor: pointer;
}
.zxl,.qx,.im {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00CCC3;
}

.im {
  color: #FF4A53;
}

.vertical {
  height: 30px;
  top: 10px;
  color: #E1E4EA;
}

.boxHead {
  padding: 16px 10px 20px 10px;
  overflow: hidden;
}
.boxTitle {
  font-size: 16px;
  color: #1A1C1F;
  font-weight: bold;
  float: left;
}
.btn,.btnActive {
  font-size: 16px;
  float: right;
  margin-left: 10px;
  color: #7A7C80;
  cursor: pointer;
}
.btnActive {
  color: #00CCC3;
}

.btnActive i{
  border-bottom: 2px solid #00CCC3;
  width: 20px;
  display: block;
  margin: auto;
}
.num {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1A1C1F;
}
.card{
  position:relative;
  background:#fff;
  border-radius:6px;
  overflow:hidden;
  padding:8px 12px 8px 26px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:10px;
  border: 1px solid #F7F7F7;
}

.card .orderInfo p{
  margin-bottom:0;
}
.card h4,.card .price{
  font-weight:bold;
  color:#1A1C1F;
}
.card .line{
  width:6px;
  height:100%;
  background:#52C9C2;
  position:absolute;
  left:0;
  top:0;
}
.card .lineYellow{
  background:#FFAA4D;
}

.tooltipContent h4{
  color:#fff;
  margin-top:10px;
}
.tooltipContent p{
  font-size:13px;
  color:#B8BBBF;
  margin-bottom:0;
}
.orderRow {
  padding-top: 40px;
  padding-bottom: 90px;
  text-align: center;
  color: #7A7C80;
}
.scorllOrder {
  padding-top: 8px;
  height: 150px;
  overflow-y: scroll;
}
