.layout {
  min-width: 1050px;
}
.layout1 {
  min-width: 1050px;
  height: 1000px;
}
.contentLayout,
.contentLayoutbase,
.contentLayoutbase2 {
  background: #fff;
  margin-top: 16px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}
.contentLayoutbase {
  margin-top: 12px;
}
.contentLayoutbase2 {
  margin-top: 10px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.left {
  float: left;
  margin: 30px 30px;
}
.right {
  float: left;
  margin-top: 25px;
  line-height: 40px;
}
.sex {
  color: #ff549b;
}

.item,
.item2 {
  margin-right: 18px;
  color: #1a1c1f;
}
.item2 {
  /*margin-right: 30px;*/
}

.item:last-child {
  margin-right: 0;
}
.name {
  font-size: 16px;
  font-weight: bold;
  color: #1a1c1f;
}

.row {
  text-align: center;
  margin: 10px auto;
  color: #7a7c80;
}
.baseCol > span {
  display: inline-block;
  cursor: pointer;
}
.zxl,
.im {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #00ccc3;
}
.baseImg {
  height: 35px;
  margin-bottom: 10px;
}
.im {
  color: #ff4a53;
}

.vertical {
  height: 30px;
  top: 10px;
  color: #e1e4ea;
}

.boxHead {
  padding: 6px 10px 20px 10px;
  overflow: hidden;
}
.boxTitle {
  font-size: 16px;
  color: #1a1c1f;
  font-weight: bold;
  float: left;
  width: 75px;
  cursor: pointer;
}
.btn,
.btnActive {
  font-size: 16px;
  float: right;
  margin-left: 10px;
  color: #7a7c80;
  cursor: pointer;
}
.btnActive {
  color: #00ccc3;
}

.btnActive i {
  border-bottom: 2px solid #00ccc3;
  width: 20px;
  display: block;
  margin: auto;
}
.num {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a1c1f;
}
.card {
  position: relative;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 12px 8px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #f7f7f7;
}

.orderStatus2 ,.orderStatus3 {
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight:400;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  background: #ff666c;
  border-radius: 50%;
  color: #fff;
  margin-left: 5px;
}

.orderStatus3 {
  background: #009dfd;
}

.card .orderInfo p {
  margin-bottom: 0;
}
.card h4,
.card .price {
  font-weight: bold;
  color: #1a1c1f;
}
.card .line {
  width: 6px;
  height: 100%;
  background: #52c9c2;
  position: absolute;
  left: 0;
  top: 0;
}
.card .lineYellow {
  background: #ffaa4d;
}

.tooltipContent h4 {
  color: #fff;
  margin-top: 10px;
}
.tooltipContent p {
  font-size: 13px;
  color: #b8bbbf;
  margin-bottom: 0;
}
.orderRow {
  height: 100px;
  margin-top: 30px;
  padding-right: 10px;
  text-align: center;
  color: #7a7c80;
}
.scorllOrder {
  padding-top: 8px;
  height: 150px;
  overflow-y: auto;
}
.boxFlex {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
