.resubmit {
  border-radius: 10px;
  margin-bottom: 16px;
  position: relative;
   .paramsQuery {
      display: flex;
      position: absolute;
      top: -73px;
      right: 24px;
      > span {
        margin-left: 8px;
      }
  }
  .OriginTab {
    display: flex;
    justify-content: space-between;
  }
}
