.gutterRow {
  height: 32px;
  margin-bottom: 10px;
}


.gutterBox {
  float: left;
}

.gutterLabel {
  width: 70px;
  display: inline-block;
  text-align: right;
}

.gutterForm {
  margin-left: 5px;
  width: 210px;
  display: inline-block;
}

.actionBtn {
  padding: 0 5px;
  color: #52C9C2;
  cursor: pointer;
  display: inline-block
}

.sortTitle {
  font-weight: bold;
}
.row {
  width: 100%;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
}
.sortTitleLf,.sortTitleRt {
  color: #999;
  float: left;
}
.sortTitleLf,.sortLf {
  width: 80px;
}

.sortLf,.sortRt{
  color: #222;
  float: left;
}

.icon {
  color: #52C9C2;
  font-size: 14px;
  cursor: pointer;
}
.sortRt {
  width: 270px;
}
.sortRtIcon {
  width: 20px;
float: left;
}
