.BITextCell {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding-left: 24px;
  padding-right: 8px;
  box-sizing: border-box;
  align-items: center;
  img {
    width: 14px;
    margin-left: 6px;
  }
}
