.box{
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.title {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 20px;
  padding-bottom: 10px;
}
.cont {
  margin: 20px;
}



.icon {
  color: #52C9C2;
  font-size: 14px;
  cursor: pointer;
}
.sortRt {
  width: 270px;
}
.sortRtIcon {
  width: 20px;
  float: right;
}

.sortRtText {
  width: 40px;
  float: right;
  color: #52C9C2;
  cursor: pointer;
}
.text {
  color: #aaa;
  font-size: 13px;
}
