.collegeScore {
    width: 100%;
    overflow-x: auto;
    .collegeInner {
        min-height: 490px;
        padding: 0 16px;
        box-sizing: border-box;
        min-width: 100%;
        overflow: hidden;
    }
}