.stepItemOri{
    position: relative;
    z-index: 10;
    width: 116px;
    height: 65px;
    margin: 25px 0;
    border-radius:2px; 
}
.processNameOri{
    width: 110px;
    height: 35px;
    line-height: 35px;
    margin: 3px auto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    border-radius:2px; 
    background: #fff;
}
.processDateOri{
    margin: 0;
    font-size: 12px;
font-weight: normal;
font-stretch: normal;
letter-spacing: 0px;
color: #fff;
}
.symbalOri{
    position: absolute;
    top: 5px;
    left:-12px;
}
.circleOri{
    position: absolute;
    top: 11px;
    left:-25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.stateBox{
    position: relative;
    width:200px;
    li{
        list-style: none;
    }
    .stepItem1{
        &:extend(.stepItemOri);
        border: 1px solid #52C9C2;
        background:#52C9C2;
        .processName{
            &:extend(.processNameOri);
            color: #52C9C2;
        }
        .processDate{
            &:extend(.processDateOri);
        }
        .symbal{
            &:extend(.symbalOri);
            color: #52C9C2;
        }
        .circle{
            &:extend(.circleOri);
            border: 2px solid #52C9C2;
        }
    }
    .stepItem2{
        &:extend(.stepItemOri);
        border: 1px solid #979797;
        background:#D8D8D8;
        color: #DCDDE0;
        .processName{
            &:extend(.processNameOri);
            color: #DCDDE0;
           
        }
        .processDate{
            &:extend(.processDateOri);
        }
        .symbal{
            &:extend(.symbalOri);
            color: #DCDDE0;
        }
        .circle{
            &:extend(.circleOri);
            border: 2px solid #DCDDE0;
        }
    }
}
.stepOver{
    position: absolute;
    right: -18px;
    top: 5px;
    color: #f33737;
    border: 2px solid #ff1414;
    width: 60px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    transform: rotate(45deg);
}
.line{
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid #DCDDE0;
    height: 262px;
}
