.proportion {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    > img {
        height: 32px;
    }
}
.proporContent {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-between;
    height: 48px;
    .win {
        background: url('../../../../assets/xdwork/bg.png') #4EB5EB;
    }

    .lose {
        background: url('../../../../assets/xdwork/bg.png') #FF626A;
    }
    .propTop {
        display: flex;
        height: 32px;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        color: #1A1C1F;
        > img {
            height: 100%;
        }
    }
  .progressNone{
    display: flex;
    height: 12px;
    color: #1A1C1F;
    // border-radius: 6px;
    line-height: 12px;
    .left{
      width: 30%;
      height: 100%;
    //   border-radius: 6px;
      text-align: center
    }
    .right {
      //text-align: center;
      flex: 1;
      padding-left:50%;
    }
  }
    .progress{
        display: flex;
        height: 12px;
        color: #FFFFFF;
        // border-radius: 6px;
        line-height: 12px;
        .left {
            width: 30%;
            height: 100%;
            // border-radius: 6px;
            text-align: center;
        }
        .right {
            text-align: center;
            flex: 1;
        }
    }
}
