.container{
    width: 70%;
}
.province{
    fill: #008dff;
    stroke: #0bb4f9;
    stroke-width: 3px;
    fill-rule: evenodd;
    stroke-linejoin: round;
}
.worn{
    font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 86px;
	letter-spacing: 1px;
	fill: #ff6969;
}
.cls1, .cls11 {
    fill: #ec4f44;
  }

  .cls1, .cls10, .cls11, .cls12, .cls13, .cls14, .cls15, .cls16, .cls17, .cls18, .cls2, .cls3, .cls4 {
    fill-rule: evenodd;
  }

  .cls18, .cls2 {
    fill: #e73236;
  }

  .cls15, .cls3 {
    fill: #fb7338;
  }

  .cls16, .cls4 {
    fill: #fd9d3c;
  }

  .cls14, .cls5 {
    fill: #fdbb3c;
  }

  .cls17, .cls6 {
    fill: #f2c71c;
  }

  .cls13, .cls7 {
    fill: #e5e323;
  }

  .cls8 {
    font-size: 14.02px;
    font-family: "PingFang SC";
    font-weight: 300;
  }

  .cls19, .cls21, .cls8 {
    fill: #fff;
  }

  .cls20, .cls9 {
    fill: #ff0988;
    stroke: #fff;
    stroke-width: 2px;
  }

  .cls10, .cls11, .cls12, .cls13, .cls14, .cls15, .cls16, .cls17, .cls18, .cls20, .cls9 {
    strokel-inejoin: round;
  }

  .cls10 {
    fill: #008dff;
  }

  .cls10, .cls11, .cls12, .cls13, .cls14, .cls15, .cls16, .cls17 {
    stroke: #0bb4f9;
  }

  .cls10, .cls11, .cls12, .cls13, .cls14, .cls15, .cls16, .cls17, .cls18 {
    stroke-width: 3px;
  }

  .cls12 {
    fill: #f12b2b;
  }

  .cls18 {
    stroke: #c8f3ff;
  }

  .cls19 {
    font-size: 16.029px;
  }

  .cls19, .cls20, .cls21 {
    font-family: MicrosoftYaHei;
  }

  .cls20 {
    font-size: 24.012px;
  }

  .cls21 {
    font-size: 9.299px;
  }
  .tooltip{
      top:0;
      left: 0;
      display: none;
      min-width: 180px;
      min-height: 200px;
    background:hsla(0,0%,100%,.8);
    border-radius: 10px;
    padding: 10px;
    color: #052664;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    transition: left .4s cubic-bezier(.23,1,.32,1) 0s,top .4s cubic-bezier(.23,1,.32,1) 0s;
    .tootipPanl, .tootipPanlOther {
        margin: 0;
        padding: 0;
       color:#052664;
       pointer-events: none;
       .tooltipItem{
        padding: 10px;
        list-style: none;
       }
    }
    .tootipPanlOther{
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px dashed #a6afbb;
    }

  }
