.archiveWrap {
  border: 1px solid #e8ebed;
  color: #222;
  padding: 10px;
  margin: 10px 0;

  .archiveTable {
    width: 700px;
    margin-top: 17px;
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .line {
    margin-left: 20px;
  }
}
