.gutter {

}


.boxWrap {
  border: 1px solid #dcdde0;
  border-radius: 2px;
  margin-bottom: 20px;
  overflow: hidden;
}

.title {
  height: 43px;
  background-color: #f6f7fa;
  line-height: 43px;
  padding-left: 18px;
  font-weight: 600;
  font-size: 14px;
  color: #353535;
  margin-bottom: 10px;
}

.formLabel {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #1A1C1F;
  width: 95px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}
