.collegeWrap {
  width: 263px;
  height: 286px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  margin: 0 24px;

  .title {
    height: 36px;
    padding: 18px 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(98, 100, 101, 1);
    span {
      margin-right: 10px;
      width: 4px;
      height: 18px;
      background: rgba(255, 227, 0, 1);
      display: inline-block;
    }
  }
}
