.creditContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:16px 24px;
  :global{
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-middle > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td, .ant-table-middle > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td {
      padding: 0 12px 0 24px;
      height:40px;
    }
    .ant-table-thead > tr > th{
      padding: 16px 12px 16px 24px;
    }
  }

}
.familyLeft{
  flex:1;
  margin-right:32px;
  .proMain{
    border:1px solid #E8EBED;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 11px 24px;
    margin-bottom: 16px;
    .proNone{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        margin:9px 16px;
      }
      span{
        font-size: 16px;
        color: #1A1C1F;
      }
    }
  }
  .tableContainer{
    position: relative;
    height:448px;
    .tableImg{
      position: absolute;
      right:24px;
      bottom:24px;
      width:144px;
      height:144px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 16px;
      box-shadow:0 4px 8px 0 rgba(26,28,31,.05) ;
      img{
        width:128px;
        height:128px;
      }
    }
  }
  .pkRankMain{
    display: flex;
    align-items: center;
  }
  .progress{
    display: flex;
    height: 4px;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
  }
  .rightProgress{
    display: flex;
    height: 4px;
    color: #FFFFFF;
    border-radius: 0 3px 3px 0;
  }
  .titleGreen{
    color: #00CCC3;
  }
  .titleRed{
    color: #FF626A;
  }
  .titleBlack{
    color: #1B1C20;
  }
  :global{
    .oneLevelBgColor{
      background: #FFFDF8;
    }
    .otherLevelBgColor{
      background: #FAFFFF;
    }
    .otherLevelBgColor1{
      background: #F5FBFF;
    }
  }
}
.familyRight{
  width:40%;
  margin-top:40px;
  .tableContent {
    //overflow-x: auto;
    position: relative;
    background: #FAFFFF;
    height:448px;
    .suspension {
      width: 100%;
      position: absolute;
      top: 48px;
      z-index: 1;
      :global {
        .ant-table-tbody > tr > td {
          border-bottom: none;
        }
      }
    }
    .scrollTable {
      :global {
        .ant-table-body {
          height: 430px;
        }
      }
    }
    .scrollMineTable {
      :global {
        .ant-table-body {
          padding-top: 40px;
        }
      }
    }
  }
  .creditSelect{
    width:100%;
    margin-bottom:16px;
    .title{
      font-size: 13px;
      color: #1A1C1F;
    }
  }
  .progressBg{
       width:44px;
       height:10px;
       background: #E8EBF2;
     }
  .progressCenter{
    height:10px;
    background: linear-gradient(to right,rgba(0, 232, 206, 1), rgba(0, 232, 206, 0) );
    border:0.5px solid #00CCC3;
  }
  :global{
    .background1{
      background:#FAFFFF;
      cursor: pointer;
    }
    .background2{
      background: #FFFDF8;
      cursor: pointer;
    }
    .background3{
      background: #F5FBFF;
      cursor: pointer;
    }
    .background4{
      background: #FFF9F9;
      cursor: pointer;
    }
    .background5{
      background: #F7FFF9;
      cursor: pointer;
    }
    .rowHover{
      > td {
        color: #00CCC3;
        cursor: not-allowed !important;
      }
    }
  }
}
.myGroup{
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .titleName{
    margin-right:24px;
  }
  .titleName:nth-child(1){
    width:91px;
    display:inline-block;
    text-align:right;
    margin-right:16px;
  }
}
.pkGroup{
  margin-top:16px;
  .titleName:nth-child(1){
    text-align:left;
    margin-right:10px;
  }
}
