.creditContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:16px 24px;

}
.familyLeft{
  flex:1;
  margin-right:32px;
  .proMain{
    border:1px solid #E8EBED;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 11px 24px;
    margin-bottom: 16px;
  }
}
.familyRight{
  width:40%;
  margin-top:40px;
  .creditSelect{
    width:100%;
    margin-bottom:16px;
    .title{
      font-size: 13px;
      color: #1A1C1F;
    }
  }
  :global{
    .background1{
      background:#FAFFFF;
      cursor: pointer;
    }
    .background2{
      background: #FFFDF8;
      cursor: pointer;
    }
    .background3{
      background: #F5FBFF;
      cursor: pointer;
    }
    .background4{
      background: #FFF9F9;
      cursor: pointer;
    }
    .background5{
      background: #F7FFF9;
      cursor: pointer;
    }
  }
}
