.creditContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding:16px 24px;

}
.familyLeft{
  flex:1;
  margin-right:32px;
  .proMain{
    border:1px solid #E8EBED;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 11px 24px;
    margin-bottom: 16px;
  }
  .tableContainer{
    position: relative;
    height:448px;
  }
  .pkRankMain{
    display: flex;
    align-items: center;
  }
  .progress{
    display: flex;
    height: 4px;
    color: #FFFFFF;
    border-radius: 3px 0 0 3px;
  }
  .rightProgress{
    display: flex;
    height: 4px;
    color: #FFFFFF;
    border-radius: 0 3px 3px 0;
  }
  .titleGreen{
    color: #00CCC3;
  }
  .titleRed{
    color: #FF626A;
  }
  .titleBlack{
    color: #1B1C20;
  }
  :global{
    .oneLevelBgColor{
      background: #FFFDF8;
    }
    .otherLevelBgColor{
      background: #FAFFFF;
    }
    .otherLevelBgColor1{
      background: #F5FBFF;
    }
  }
}
.familyRight{
  width:40%;
  margin-top:40px;
  .creditSelect{
    width:100%;
    margin-bottom:16px;
    .title{
      font-size: 13px;
      color: #1A1C1F;
    }
  }
  .progressBg{
    width:44px;
    height:10px;
    background: #E8EBF2;
  }
  .progressCenter{
    height:10px;
    background: linear-gradient(to right,rgba(0, 232, 206, 1), rgba(0, 232, 206, 0) );
  }
  :global{
    .background1{
      background:#FAFFFF;
      cursor: pointer;
    }
    .background2{
      background: #FFFDF8;
      cursor: pointer;
    }
    .background3{
      background: #F5FBFF;
      cursor: pointer;
    }
    .background4{
      background: #FFF9F9;
      cursor: pointer;
    }
    .background5{
      background: #F7FFF9;
      cursor: pointer;
    }
  }
}
