.container {
  margin-bottom: 100px;
  padding: 0 64px;
  text-align: center;
  .histogram{
    .headerCls{

    }
    .formCls{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 107px;
      background: rgba(0,144,255,.05);
      padding: 36px 30px;
      .searchTxt{
        margin-right: 17px;
        font-size: 14px;
        color: #fff;
      }
    }
    .echartCls{
      display:flex;
      justify-content:space-between;
      margin-top:20px;
    }
  }

}
