.sessonTrend{
  background:#fff;
  border-radius:20px;
  min-height:500px;
  padding:20px;
  margin-bottom:20px;
  .chartPie{
    display:flex;
    padding:20px 140px 30px 100px;
    justify-content: space-between;
  }
}