.wrap ,.wrap1{
  width: 227px;
  height: 226px;
  background:rgba(255,255,255,1);
  border-radius:20px;
  margin-left: 23px;
  float: left;
}

.wrap1 {
  width:332px;
  height:226px;
  margin-left: 0px;
}

.index {
  overflow: hidden;
  margin-bottom: 24px;
}
