.wrap ,.wrap1{
  width: 227px;
  height: 226px;
  background:rgba(255,255,255,1);
  border-radius:20px;
  margin-left: 23px;
  float: left;
}

.wrap1 {
  width:332px;
  height:226px;
  margin-left: 0px;
}

.index {
  overflow: hidden;
  margin-bottom: 24px;
}

.title {
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  span {
    float: left;
    font-size:14px;
    font-weight:400;
    color:#626465;
  }
  span:nth-child(1){
    margin-left: 20px;
    width:4px;
    height:18px;
    background:rgba(255,227,0,1);
    margin-top: 7px;
    margin-right: 8px;
  }
}
