.TagWrap {
  width: 400px;
  height: 286px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;

  .title {
    height: 36px;
    padding: 18px 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(98, 100, 101, 1);
    span {
      margin-right: 10px;
      width: 4px;
      height: 18px;
      background: rgba(255, 227, 0, 1);
      display: inline-block;
    }
  }

  .tab {
    height: 24px;
    line-height: 24px;
    text-align: center;
    span {
      display: inline-block;
      cursor: pointer;
    }
    .current {
      width: 70px;
      height: 24px;
      background: rgba(255, 227, 0, 1);
      border-radius: 0px 0px 0px 4px;
    }
    .normal {
      width: 70px;
      height: 24px;
      background: rgba(239, 238, 238, 1);
      border-radius: 0px 0px 4px 0px;
    }
  }
}
