:global .BIButtonText {
  display: inline-block;
  .ant-btn {
    background: transparent;
    border:none;
    box-shadow:none;
    span{
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 120px;
    }
  }
  .ant-btn:hover{
    background: transparent;
  }
  .ant-btn-primary {
    color: #fff;
    background-color:#F29F38;
    border-color:#F29F38;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


