.compareCon {
  width: 67%;
  height: 372px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  .title {
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #f5f8fa;
    color: #1a1c1f;
    font-size: 16px;
    padding-left: 24px;
  }

  .tableContainer {
    padding: 20px;
    overflow-y: auto;
  }

  :global .BIWrapperTable {
    overflow-y: auto;
    height: 340px;
  }
}
.table {
  :global {
    .ant-table-tbody td {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .rowHover {
      background: #e6fff9;
      // cursor: not-allowed !important;
    }
    .ant-table-thead > tr > th {
      text-align: center;
    }
    .ant-table-thead > tr > th:nth-child(1) {
      text-align: left !important;
    }

    .BIWrapperProgress {
      justify-content: flex-end !important;
    }
    .ant-table-thead > tr:first-child > th:first-child,
    .ant-table-tbody > tr > td:first-child {
      padding-left: 16px;
    }

    .ant-table-thead > tr:first-child > th:last-child {
      padding-right: 16px;
    }
    .ant-table-thead > tr:last-child > th:last-child,
    .ant-table-tbody > tr > td:last-child {
      text-align: right;
      padding-right: 16px;
    }
  }
}
