.compareCon {
  width: 67%;
  height: 372px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 16px;
  border-radius: 10px;

  .title {
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 1px solid #f5f8fa;
    color: #1a1c1f;
    font-size: 16px;
    padding-left: 24px;
  }

  .tableContainer {
    padding: 20px;
    overflow-y: auto;
  }

  :global .BIWrapperTable {
    overflow-y: auto;
    height: 340px;
  }
}

:global {
  .rowHover {
    background: #e6fff9;
    // cursor: not-allowed !important;
  }
  .ant-table-thead > tr > th {
    text-align: right;
  }
  .ant-table-thead > tr > th:nth-child(1) {
    text-align: left !important;
  }

  .BIWrapperProgress {
    justify-content: flex-end !important;
  }
}
