/* 基于antd样式重置 */
ul{
  padding: 0;
}
/*
  督学模块自定义主题 - 全局样式
*/
* {
  font-weight: 300;
}
/* =============== Button ============== */

/* 默认 空心按钮 */
.ant-btn {
  width: 115px;
  height: 38px;
  border-radius: 2px;
}

/* primary 主色 蓝色 按钮 */
.ant-btn-primary,.ant-btn-primary2 {
  color: #fff;
  background-color: #1B82E5;
  border-color: #1B82E5;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-primary:hover,
.ant-btn-primary:focus{
  color: #fff;
  background-color: #1B82E5;
  border-color: #1B82E5;
}
.ant-btn-primary.active {
  color: #fff;
  background-color: #1B82E5;
  border-color: #1B82E5;
}

/* primary2 辅助色 淡红色 按钮 */

.ant-btn-primary2 {
  background-color: #DA584A;
  border-color: #DA584A;
}
.ant-btn-primary2:hover,
.ant-btn-primary2:focus{
  color: #fff;
  background-color: #DA584A;
  border-color: #DA584A;
}

.ant-btn-primary2:active {
  background-color: #DA584A;
  border-color: #DA584A;
}

.ant-btn-sm {
  width: 75px;
  height: 38px;
  font-size: 13px;
}

.ant-btn-lg {
  width: 135px;
  height: 38px;
  font-size: 14px;
}

/* =============== Select ============== */

/* 单选 */
.ant-select {
  color: #1DA9FC;
}
.ant-select-selection--single {
  width: 185px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #1683FB;
  border-radius: 2px;
  background-color: #0C172E;
}

.ant-select-selection__rendered {
  line-height: 34px;
}

.ant-select-arrow {
  color: #1683FB;
}

.ant-select-dropdown {
  background-color: #0C172E;
  box-shadow: rgb(0, 112, 183) 0px 0px 20px;
  -webkit-tap-highlight-color: transparent;
}

.ant-select-dropdown-menu-item:first-child {
  border-radius: 2px 2px 0 0;
}
.ant-select-dropdown-menu-item {
  color: #1683FB;
}
.ant-select-dropdown-menu-item-selected,.ant-select-dropdown-menu-item-selected:hover,.ant-select-dropdown-menu-item-active {
  background-color: #0C2E58;
  color: #1683FB;
}

.ant-select-dropdown-menu-item-active:hover{
  background-color: #0C2E58;
}
/* 多选 */
.ant-select-selection--multiple {
  width: 185px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #1683FB;
  border-radius: 2px;
  background-color: #0C172E;
}

.ant-select-selection--multiple > ul > li, .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  margin-top: 5px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  color: #1683FB;
  background-color: #0C172E;
}

.ant-select-selection__placeholder {
  color: #1683FB;
  opacity: .8;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove,.ant-select-selection--multiple .ant-select-selection__choice__remove:hover {
  color: #1683FB;
}

/* 日期选择  */

.ant-calendar-picker {
  width: 285px;
  height: 36px;
}

.ant-calendar-picker .ant-calendar-picker-input.ant-input {
  height: 36px;
  color: #1683FB;
  background-color: #0C172E;
  border-radius: 2px;
  border: 1px solid #1683FB;
}
.ant-calendar-range-picker-separator,.ant-calendar-picker-clear,.ant-calendar-picker-icon, .ant-calendar-picker-clear {
  color: #1683FB;
}
.ant-calendar-picker-clear {
  background-color: #1683FB;
}

/* ===========================  table ===========================  */
.ant-table {
  color: #fff;
}

.ant-table-thead > tr > th {
  color: #1B82E5;
  background-color: #0C172E;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
  border: 1px solid #394671;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background-color: #0C172E;
}

.ant-table-body {
  background-color: #0C172E;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 12px 12px;
}

/*分页*/
.ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
}

.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  background-color: #0A2F5B;
  border-color: #0A2F5B;
  color: #fff;
}
.ant-pagination-item a {
  color: #fff;
}

.ant-pagination-item-active {
  border-color: #0080FF;
  background-color: #0B80E9;
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
  border-color: #0080FF;
}

.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a,.ant-pagination-item:focus a, .ant-pagination-item:hover a ,.ant-pagination-prev:hover .ant-pagination-item-link,.ant-pagination-next:hover .ant-pagination-item-link{
  color: #fff;
}

.ant-pagination-options .ant-select-selection--single{
  width: 110px;
  height: 32px;
}

.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #0080FF;
}
.ant-pagination-options-quick-jumper {
  color: #fff;
}
.ant-pagination-options-quick-jumper input {
  border-color: #0080FF;
}

/* =========================== form ===========================  */

/*label*/

.ant-form-item-label label {
  color: #1B82E5;
  width: 80px;
  display: inline-block;
  text-align: justify;
}

.ant-form-item-label label:after {
  content: " ";
  display: inline-block;
  width: 100%;
}


.ant-breadcrumb, .ant-breadcrumb span ,.ant-breadcrumb a {
  color: #fff;
}

/*ant-divider*/

.ant-divider-inner-text {
  color: #fff;
}

/* =========================== dropdown 下拉菜单 ===========================  */
.ant-dropdown-trigger {
  background-color: #0C172E;
  width: 185px;
  height: 36px;
  border: 1px solid #1683FB;
}
.ant-btn.ant-dropdown-trigger:hover, .ant-btn.ant-dropdown-trigger:focus, .ant-btn.ant-dropdown-trigger:active {
  background-color: #0C172E;
}
.ant-dropdown-trigger span {
  color: #1DA9FC;
}

.ant-dropdown-trigger > .anticon.anticon-down, .ant-dropdown-link > .anticon.anticon-down {
  color: #1683FB;
}

:root .ant-dropdown-trigger > .anticon.anticon-down, :root .ant-dropdown-link > .anticon.anticon-down {
  font-size: 14px;
}

.ant-btn > .anticon + span, .ant-btn > span + .anticon {
  float: right;
}
.ant-btn > .anticon {
  line-height: 1.5;
}

.ant-dropdown-menu {
  box-shadow: rgb(0, 112, 183) 0px 0px 20px;
  -webkit-tap-highlight-color: transparent;
  background-color: #0C172E;
}

.ant-dropdown-menu-item {
  color: #1683FB;
}
.ant-dropdown-menu-item:hover {
  background-color: #0C2E58;
}
