
.spanLabel {
  margin: 20px 0 20px 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #1A1C1F;
  width: 100px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}


