.tableContentStyle {
  margin: 0;
}
.totalNum {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #000;
  height: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
.totalNum1 {
  height: 36px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000;
  line-height: 36px;
  margin-bottom: 10px;
}

.green {
  font-style: normal;
  color: #52c9c2;
}
