.fixedStyle{
    width: 100%;
    // transform:translate(0,0)
}
.groupContainer{
    display: flex;
    width: 100%;
    background: #fff;
}
.groupContainerFixed{
    width: 100px;
    position: fixed;
    top: 0;
    // right: 0;
    // left: 0;
    z-index: 100;
    padding: 20px 0px;
    
    // margin-left: 38px;
    border: 1px solid red;
    overflow: hidden;
    box-sizing: border-box;
}
.shrink{
    height: 20px;
    border: 1px solid red;
}
.gropLabel{
    font-size: 12px;
    height: 100px;
    padding-right: 8px;
    margin-top:3px; 
}
.buttonGroup{
    display: inline-block;
    width: 100%;
    flex: 1;
    .tags{
        display: inline-block;
        margin-bottom:10px; 
        :global{
            .ant-tag{
                padding: 3px 7px;
            }
        }   
    }
}
.buttonGroupFixed{
    &:extend(.buttonGroup);
    max-height: 95px;
}