// 渐变色加阴影
.bg_color (@c1, @c2, @c3){
  box-shadow: 0 4px 8px @c3;
  background: -webkit-linear-gradient(left, @c1, @c2); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @c1, @c2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @c1, @c2); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @c1, @c2); /* 标准的语法（必须放在最后） */
  box-shadow: 0 0 0 @c3;
}

.scoreWrap{
  padding:16px 0;
}

.scoreTable{
  width:100%;
  position:relative;
  .suspenTable {
    width: 100%;
    position: absolute;
    top: 97px;
    z-index: 1;
    // :global {
    //   .ant-table-tbody > tr > td {
    //     border-bottom: none;
    //   }
    // }
  }
  .pkUser {
    > td {
      color: #00CCC3;
      // cursor: not-allowed !important;
    }
  }
  .scrollTable {
    :global {
      .ant-table-body {
        height: 420px;
      }
    }
  }
  .header{
    height:48px;
    line-height:48px;
    color:#fff;
    font-size:16px;
    border-radius:6px 6px 0 0;
    text-align:center;
    .bg_color(#0DD8CF, #64F5A5, rgba(0, 204, 195, .2))
  }
  .bg2{
    .bg_color(#FFB32B, #FFE000, rgba(204, 141, 0, .2))
  }
  .bg3{
    .bg_color(#FF6F6F, #FF93C7, rgba(204, 42, 0, .2))
  }
  .bg4{
    .bg_color(#E173FF, #FF8DFA, rgba(204, 0, 180, .2))
  }
}
.tableBorder{
  height:248px;
  overflow:hidden;
  box-shadow:0 2px 4px rgba(26, 28, 31, 0.05);
}
.tableWrap{
  display:flex;
  padding-left:24px;
  margin-bottom:24px;
  .table{
    width:50%;
    padding-right:24px;
    box-sizing:border-box;
  }
}

.rankColumn{
  .rankSpan{
    width:20px;
    height:20px;
    text-align:center;
    display:inline-block;
    margin-right:7px;
  }
  .rank{
    width:20px;
    height:14px;
    margin-right:7px;
  }
  .changes{
    width:10px;
    height:12px;
    vertical-align:-2px;
    margin-left:13px;
  }
}

.tbodyMarTop{
  :global{
    .ant-table-body {
      margin-top:40px;
    }
  }
  
}