// 渐变色加阴影
.bg_color (@c1, @c2, @c3){
  box-shadow: 0 4px 8px @c3;
  background: -webkit-linear-gradient(left, @c1, @c2); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @c1, @c2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @c1, @c2); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @c1, @c2); /* 标准的语法（必须放在最后） */
  box-shadow: 0 4px 8px @c3;
}

.scroeWrap{
  padding:16px 24px;
}