@import "../config.less";
:global {
  .BIDatePicker {
    // width: 100%;
    .ant-input:focus, .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled), .ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled){
      box-shadow: none;
    }
    .ant-calendar-picker{
      text-align: left;
      max-width: 100%;
    }
    .ant-calendar-range-picker-input::-webkit-input-placeholder {
       color: @base-placeholder-color;
    }
  }
}
