.pkRankMain{
  display: flex;
  align-items: center;
}
.progress{
  display: flex;
  height: 10px;
}
.progressLeftLose{
  height:10px;
  background: linear-gradient(to right,rgba(255, 121, 128, 0), rgba(255, 121, 128, 1) );
  overflow: hidden;
  border:1px solid #FF5959;
}
.progressLeftWin{
  height:10px;
  background: linear-gradient(to right,rgba(78, 181, 235, 0), rgba(78, 181, 235, 1) );
  overflow: hidden;
  border:1px solid #4EB5EB;
}
.progressRightLose{
  height:10px;
  background: linear-gradient(to right,rgba(255, 121, 128, 1), rgba(255, 121, 128, 0) );
  overflow: hidden;
  border:1px solid #FF5959;
}
.progressRightWin{
  height:10px;
  background: linear-gradient(to right,rgba(78, 181, 235, 1), rgba(78, 181, 235, 0) );
  overflow: hidden;
  border:1px solid #4EB5EB;
}
.titleGreen{
  color: #00CCC3;
}
.titleRed{
  color: #FF626A;
}
.titleBlack{
  color: #1B1C20;
}
.progressLeft{
  justify-content: flex-end;
  margin-right: -7px;
}
.progressLeftDiv{
  color: #52C9C2;
  cursor: pointer;
  width: 58.5px;
  display: flex;
  justify-content: flex-end;
}
.progressRight{
  justify-content: flex-start;
  margin-left: -9px;
}
.progressRightDiv{
  color: #52C9C2;
  cursor: pointer;
  width: 58.5px;
  display: flex;
  justify-content: flex-start;
}
