.baseSpan {
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.normalSpan {
  background: #FAFAFA;
  border: 1px solid #D9D9D9;

}

.checkedSpan {
  background: #EDF9F8;
  border: 1px solid #52C9C2;
  font-family: PingFangSC-Regular;
  color: #52C9C2;
  letter-spacing: 0;
}

