.mainPage {
  width: 500px;
  height: 500px;
  background: yelow;
  .tips {
    
  }
}
:global {
  .BIWrapperTable {
    .ant-table-tbody td {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
