@import "../config.less";
.BISelect {
  :global {
    .ant-select-selection:focus, .ant-select-selection:active, .ant-select-open .ant-select-selection{
      box-shadow: none;
    }
    .ant-select-selection--multiple .ant-select-selection__choice {
      margin-right: 1px;
    }
    .ant-select-selection--multiple{
      padding-bottom: 0;
    }
    .ant-select-disabled .ant-select-selection {
      background-color: @base-disabled-color;
    }
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
      color: @base-placeholder-color;
    }
  }
}