.box {
  color: #222;
  background: #fff !important;
  padding: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}

.line {
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}

:global(.ant-form-item label) {
  width: auto !important;
}
