:global .smBtn{
  font-size: 12px;
  padding: 0 12px;
  border-radius: 4px;
   width: 80px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:global .smBtn:hover,:global .smBtn:active,:global .smBtn:focus{
  border-color: #52C9C2;
  color: #52C9C2;
}

.sh {
  margin: 0 20px;
  color: #52C9C2;
  cursor: pointer;
}



