.packageIndex {
  :global {
    .ant-table-thead > tr > th:nth-child(2), .ant-table-tbody > tr > td:nth-child(2), .ant-table-thead > tr > th:nth-child(4), .ant-table-tbody > tr > td:nth-child(4), .ant-table-thead > tr > th:nth-child(5), .ant-table-tbody > tr > td:nth-child(5) {
      text-align: center; 
    }
    .ant-table-tbody > tr > td:hover {
      cursor: pointer;
    }
  }
  .rankColumn {
    width: 20px;
    text-align: center;
    >img {
      width: 100%;
    }
  }
  .markColumn {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    > img {
      width: 15px;
    }
    > span {
      align-items: flex-end;
      margin-bottom: -4px;
      transform: scale(0.8);
      margin-left: 10px;
    }
    ::before {
      position: absolute;
      content: '+';
      top: 0px;
      left: -9px;
    }
  }
  .markColumn0 {
    color:#3389FF;
  }
  .markColumn1 {
    color:#00CCC3;
  }
  .markColumn2 {
    color:#FF5959;
    ::before {
      content: '-';
    }
  }
}