.packageIndex {
  :global {
    .ant-table-thead > tr > th:nth-child(2), .ant-table-tbody > tr > td:nth-child(2), .ant-table-thead > tr > th:nth-child(4), .ant-table-tbody > tr > td:nth-child(4), .ant-table-thead > tr > th:nth-child(5), .ant-table-tbody > tr > td:nth-child(5) {
      text-align: center; 
    }
  }
  .rankColumn {
    width: 20px;
    text-align: center;
    >img {
      width: 100%;
    }
  }
  .markColumn {
    display: flex;
    align-items: center;
    padding-left: 20px;
    > span {
      margin-right: 8px;
    }
    > img {
      width: 15px;
      margin-right: 8px;
    }
  }
  .markColumn0 {
    color:#3389FF;
  }
  .markColumn1 {
    color:#00CCC3;
  }
  .markColumn2 {
    color:#FF5959;
  }
}