.contentWrap{
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.expressionArea{
  //width:140px;
  height:20px;
  background:#fff;
  border-radius:14px;
  //margin-left:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  box-sizing:border-box;
  padding:0 4px;
  .progress{

    .progressText{
      font-size:12px;
      display:flex;
      justify-content:space-between;
      color:#262626;
      margin-bottom:0;
      line-height:14px;
    }
    .progressBar{
      width:80px;
      height:4px;
      border-radius:14px;
      background:#ccc;
      overflow:hidden;
      display:flex;
      .bar1{
        height:4px;
        width:60%;
        background:#52c9c2;
      }
      .bar2{
        height:4px;
        width:40%;
        background:#FF6D6D;
      }
    }
  }
  img{
    width:16px;
    height:16px;
  }
}
:global .ant-popover .ant-popover-inner{
  background-color: #565656;
}


:global .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow{
  border-right-color: #565656;
  border-bottom-color: #565656;
  background-color: #565656;
}

:global .ant-popover-inner-content {
  color: #fff;
  font-size: 12px;
}

