:global .BIButtonGreen {
  display: inline-block;
  .ant-btn {
    padding: 0 8px;
    border-radius: 4px;
    width: 100px;
  }
  .ant-btn-primary {
    color: #fff;
    background-color: #52C9C2;
    border-color: #52C9C2;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


