<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>督学平台</title>
  <link rel="icon" type="image/x-icon" href="http://bd.ministudy.com/favicon.png" />
  <style>
    body>a {
      position: absolute;
      color: transparent;
    }
  </style>
</head>

<body>
  <div id="root"></div>
 <script type="text/javascript" src="https://s5.cnzz.com/z_stat.php?id=1277653889&web_id=1277653889"></script>


  <% var host = context.ENV_TYPE==='production'?'http://bd.ministudy.com':'http://172.16.117.64:9999';%>
  <% var backHost = context.ENV_TYPE==='production'?'http://bd.ministudy.com/pm_trace':'http://172.16.109.87:20082';%>
  <script type="text/javascript" src=<%= host %>/trace/trace_sdk.js?v=1.3></script>
  <script>
    function getUserId() {
      const admin_user = localStorage.getItem('admin_user');
      const userId = JSON.parse(admin_user) ? JSON.parse(admin_user).userId : null;
      return userId;
    }
    xd('config', { getUserId, site: 1 });
  </script>



    <!--小德反馈入口-->
  <script src=<%= backHost %>/post_message_sdk.js"></script>

  <script>
      function PM_getUserId() {
        return JSON.parse(localStorage.getItem('admin_user')).userId;
      }
      let PM_list_name = [];
      PMsdk({
        getUserIdentity: PM_getUserId,
        pathnameList: PM_list_name,
        listFlag: 'black',
        clickMiniCallback: function () {
                const { BI = {} } = window;
                BI.traceV &&  BI.traceV({"widgetName":"用户反馈入口","traceName":"用户反馈入口"});
          },
          clickNormalCallback: function () {
          const { BI = {} } = window;
                  BI.traceV &&  BI.traceV({"widgetName":"用户反馈入口","traceName":"用户反馈入口"});
          }

      });
  </script>
</body>

</html>
