
:global .BhTabs {
  .ant-tabs-nav .ant-tabs-tab {
    margin-right: 15px;
  }
  .ant-tabs-bar{
    margin-bottom: 0;
    margin-top: 6px;
    padding-left: 16px;
  }
  .ant-tabs-ink-bar {
    width: 20px!important;
    left: 18px;
  }
}


