
:global .BhTabs {
  .ant-tabs-nav .ant-tabs-tab {
    margin-right: 15px;
    width: 60px;
    text-align: center;
    height: 49px;
  }
  .ant-tabs-bar{
    margin-bottom: 0;
    margin-top: 6px;
    padding-left: 16px;
  }
  .ant-tabs-ink-bar {
    width: 22px!important;
    left: 19px;
  }
  .ant-tabs-nav-container {
    margin-bottom: 0;
  }
}


