.contWrap{
  margin-top:27px;
  :global{
    .ant-radio-group{
      border: 1px solid #008dff;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 0 20px #0070b7;
    }
    .ant-radio-button-wrapper{
      width: 185px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 16px;
      background: #0b1530;
      color:#008dff ;
      border: none;
    }
    .ant-radio-button-wrapper-checked{
      background: #008dff;
      color: #fff;
    }
  }
}
