:global .BIButtonInTable {
  display: inline-block;
  .ant-btn {
    background: transparent;
    border:none;
    padding: 0;
    box-shadow:none;
    span{
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px;
      font-size: 14px;
      text-align: left;
    }
  }
  .ant-btn:hover{
    background: transparent;
  }
  .ant-btn-primary {
    color: #fff;
    background-color:#F29F38;
    border-color:#F29F38;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


