.progressBg{
  width:44px;
  height:10px;
  background: #E8EBF2;
}
.progressCenter{
  height:10px;

}
.progressRed{
  background: linear-gradient(to right,rgba(255, 111, 111, 0), rgba(255, 111, 111, 1) );
  border:0.5px solid #FF5959;
  float: right;
}
.progressGreen{
  background: linear-gradient(to right,rgba(0, 232, 206, 1), rgba(0, 232, 206, 0) );
  border:0.5px solid #00CCC3;
  float: left;
}
.leftRed{
  background: linear-gradient(to right,rgba(255, 111, 111, 0), rgba(255, 111, 111, 1) );
  border: 0.5px solid #FF5959;
  float: left;
}
