.progressBg{
  width:44px;
  height:18px;
  border-radius: 9px;
  background: #E8EBF2;
}
.progressCenter{
  height: 18px;
}
.progressRed{
  background: linear-gradient(to right,rgba(255, 111, 111, 0), rgba(255, 111, 111, 1) );
  // border:0.5px solid #FF5959;
  border-radius: 9px;
  float: right;
}
.progressGreen{
  // background: linear-gradient(to right,rgba(0, 232, 206, 1), rgba(0, 232, 206, 0) );
  background-color: #67EECB;
  // border:0.5px solid #00CCC3;
  border-radius: 9px;
  float: left;
}
.leftRed{
  background: linear-gradient(to right,rgba(255, 111, 111, 0), rgba(255, 111, 111, 1) );
  // border: 0.5px solid #FF5959;
  float: left;
}

.blue{
  background: linear-gradient(to right,rgba(88, 165, 255, 1), rgba(88, 165, 255, 0) );
  border: 0.5px solid #58A5FF;
  float: left;
}
.qing{
  background:#B2CFFF;
  border-radius: 9px;
  float: left;
}
.s{
  background:#33D1BB;
  border-radius: 9px;
  float: left;
}
.normal{
  background:#FFC442;
  border-radius: 9px;
  float: left;
}
.good{
  background:#67EECB;
  border-radius: 9px;
  float: left;
}
.bad{
  background:#FFAFAF;
  border-radius: 9px;
  float: left;
}
