.detailsIndex {
  position: relative;
  .download {
    position: absolute;
    right: 14px;
    z-index: 1000;
    width: 260px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .colorShow {
      color: #7B7C80;
      padding-left: 30px;
      > span::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background-color: #6665DD;
        margin:  0 6px;
      }
      > span:last-child::before {
        background-color: #DA43FF;
      }
    }
  }
  :global {
    .ant-table-tbody > tr > td:last-child {
      padding-right: 24px;
    }
  }
}