.detailsIndex {
  position: relative;
  .download {
    position: absolute;
    right: 14px;
    top: 11px;
    z-index: 1000
  }
  :global {
    .ant-table-tbody > tr > td:last-child {
      padding-right: 24px;
    }
  }
}