.topTab{
  background: #fff;
  border-radius: 20px;
  position: relative;
  .topBtn{
    position: absolute;
    top:9px;
    right:24px;
  }
  .topRight{
    position: absolute;
    top:9px;
    right:24px;
  }
  :global{
    .ant-tabs-bar{
      width:100%;
      border-bottom: 1px solid #F5F8FA;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container{
      height:55px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
      border:1px solid #fff;
      border-radius: 0;
      line-height: 22px;
      margin-right:0;
      background: none;
      height: 52px;
      line-height: 52px;
      font-size: 14px;
      color: #999999;
      overflow: visible;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:nth-child(1){
      margin-left:8px;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
      border:1px solid #fff;
      color: #282828;
      font-weight:bold;
    }
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active::after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0px;
      border: 1px solid #282828;
    }
    // .ant-tabs-nav .ant-tabs-tab:last-child(1)::after {
      // content: '';
      // position: absolute;
      // color:#D8D8D8;
      // right: -4px;
      // top:1px;
      // transform: scale(.5, .7);
    // }
  }
}
