
//------
.wrap {
  overflow: hidden;
  width: 100%;
}
.line {
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
.line2 {
  overflow: hidden;
  width: 100%;
}
.titleLeft {
  width: 80px;
  float: left;
}
.rightCon {
  width: 800px;
  overflow: hidden;
  margin-bottom: 10px;
}

.btmline {
  border-bottom: 1px solid #e8e8e8;
  padding: 6px;
}
.btmlinelast {
  padding: 6px;
}
.actionBtn {
  color: #52C9C2;
  cursor: pointer;
  display: inline-block
}


.gutterRow {
  height: 32px;
  margin-bottom: 10px;
}


.gutterBox {
  float: left;
}

.gutterLabel {
  width: 70px;
  display: inline-block;
  text-align: right;
}

.gutterForm {
  margin-left: 5px;
  width: 560px;
  display: inline-block;
}
.gutterEx {
  margin-left: 5px;
  width: 90px;
  text-align: center;
  display: inline-block;
}
