.container {
  //   background-color: #ffffff;
  //   border-radius: 10px;
  // margin-bottom: 24px;
  .head {
    background-color: #ffffff;
    display: flex;
    height: 66px;
    border-radius: 20px;
    padding: 0px 24px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f8fa;
    color: #1a1c1f;
    margin-bottom: 24px;
    .title {
      color: #202224;
      font-size: 22px;
      font-weight: 600;
    }
  }

  // .content {
  //   border-radius: 20px;
  //   background-color: #ffffff;
  //   padding: 16px 24px 24px;
  // }
}
