.newSheetWrap {
  background: #fff;
  overflow: hidden;
}

.searchBlock {
  padding: 30px;
}


.gutterRow {
  height: 32px;
  margin-bottom: 20px;
}

.gutterRow1 { //table
  height: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}

.gutterCol {

}

.gutterBox1 {
  float: left;
}
.gutterBox2 {
  text-align: center;
  margin: 0 auto;
}

.gutterBox3 {
  float: right;
}

.gutterLabel,.gutterLabel1 {
  width: 88px;
  line-height: 0;
  display: inline-block;
  color: #222;
  //text-align-last: justify;
  text-align: justify;
}

.gutterLabel:after,.gutterLabel1:after {
  content: ''!important;
  display: inline-block;
  width: 100%;
}

.gutterLabel1 {
  width: 74px;
}

.gutterForm {
  margin-left: 5px;
  width: 230px;
  display: inline-block;
}

.gutterBtn1 {
  margin-right: 10px;
}

.gutterBtn2 {

}

// --------
.tableBlock {
  padding: 20px;
  padding-top: 0;
  background: #fff;
  overflow: hidden;
}

.actionBtn {
  padding: 0 5px;
  color: #52C9C2;
  cursor: pointer;
  display: inline-block
}
