.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    .head {
        display: flex;
        height: 48px;
        padding: 0px 24px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 1px solid #F5F8FA;
        color: #1A1C1F;
        .title {
            font-size: 16px;
            font-weight: bold;
        }
    }
    .content {
        padding: 16px 24px 24px;
    }
}