.layoutSmall ,.layoutMiddle{
  background: #fff;
  min-height: 800px;
  border-radius:10px;
  overflow: hidden;
  padding: 20px;
  width:1190px;
}

.layoutSmall {
  width:1030px;
}

.clear {
  clear: both;
}
.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: normal;
  font-size:14px;
  color:#666;
  display: inline;
  height: 300px;
}
