.layoutSmall ,.layoutMiddle{
  background: #fff;
  min-height: 800px;
  border-radius:10px;
  overflow: hidden;
  padding: 20px;
  width:1190px;
  margin-bottom: 15px;
}

.layoutSmall {
  width:1030px;
  margin-bottom: 15px;
}

.clear {
  clear: both;
}
.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: normal;
  font-size:14px;
  color:#666;
  display: inline;
  height: 300px;
}


:global .cubeDetailModal {
  height: 400px;
  overflow-y: auto;
  .ant-typography {
    font-size:13px;
    color:rgba(0,0,0,1);
    margin-bottom: 3px;
  }
}
