.credit {
  min-width: 1192px;
  min-height: calc(100vh - 70px); 
  background-color: #ffffff;
  padding: 24px;
  margin-bottom: 16px;
  .form  {
    margin-bottom: 20px;
    .change {
      margin-right: 24px;
    }
  }
}