.credit {
  // min-width: 1192px;
  min-height: calc(100vh - 86px); 
  // background-color: #ffffff;
  // padding: 24px;
  margin-bottom: 16px;
  border-radius: 10px;
  .form  {
    margin-bottom:8px;
    position: relative;
    background:#fff;
    padding:16px 24px;
    border-radius:10px;
    .date  {
      position: absolute;
      right: 24px;
      bottom: 20px;
    }
    .change {
      display: inline-block;
      margin-right: 24px;
      > div {
        display: inline-block;
      }
    }
  }
  .dataShow {
    display: flex;
    .creditTrend {
      display: flex;
      flex-direction: column;
      background:#fff;
      padding:16px 24px;
      box-sizing:border-box;
      border-radius:10px;
      flex: 1;  
    }
    .creditNone {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      border-radius: 10px;
      img {
          margin-top: 200px;
          width: 241px;
          height:241px;
      }
    }
  }
}

.extent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #A1A1A1; 
  img {
    width: 254px;
    margin-bottom: 32px;
  }
}