*{
  margin: 0;
  padding: 0;
}

.paginationStyle{
  margin: 24px 0 !important;
  display: flex;
  justify-content: flex-end;
}
.tableContentStyle{
  margin: 0;
}

:global(.has-error .ant-form-explain) {
  text-align: left !important;
}

:global(.ant-table-tbody  tr  td) {
  padding: 0 10px !important;
  height: 44px;
}
:global(.ant-table-thead  tr  th) {
  padding: 0 10px !important;
  height: 44px;
}
:global(.ant-pagination-item-active) {
  border-color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-item:hover a) {
  color: #52C9C2 !important;
}
:global(.ant-pagination-item-active a){
  color: #52C9C2 !important;
}

:global(.ant-pagination-prev:hover) {
  border-color: #52C9C2 !important;
}
:global(.ant-pagination-item-link:hover) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-pagination-prev:focus .ant-pagination-item-link) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}


:global(.ant-radio-checked .ant-radio-inner){
  border-color: #52C9C2 !important;
}

:global(.ant-radio-inner:after){
  background-color: #52C9C2 !important;
}

:global(.ant-pagination-next:focus .ant-pagination-item-link) {
  border-color: #52C9C2 !important;
  color: #52C9C2 !important;
}
:global(.ant-select-selection--single:hover){
  border-color: #52C9C2 !important;
}
:global(.ant-select-selection:focus){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}
:global(.ant-select-selection:active){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}
:global(.ant-select-open .ant-select-selection){
  border-color: #52C9C2 !important;
  box-shadow: none !important;
}

:global(.ant-popover-inner-content){
  padding: 20px 20px !important;
  width: 356px;
}

:global(.ant-popover-message) {
  font-size: 14px;
  width: 356px!important;
  color: #262626;
}
:global(.ant-popover-buttons) {
  text-align: right;
  margin-bottom: 4px;
  margin-top: 16px;
}
:global(.ant-popover-buttons button) {
    width: 80px;
    height: 32px;
}
:global(.ant-popover-buttons .ant-btn-primary) {
  background-color: #52C9C2;
  border-color: #52C9C2;
}

:global(.ant-popover-buttons .ant-btn-primary:hover) {
  background-color: #52C9C2 !important;
  border-color: #52C9C2!important;
  color: #fff!important;
}
:global(.ant-popover-buttons .ant-btn-primary:focus) {
  background-color: #52C9C2;
  border-color: #52C9C2;
  color: #fff!important;
}

:global(.ant-btn-primary) {
  color: #fff;
  background-color: #52C9C2;
  border-color: #52C9C2;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


:global(.ant-popover-buttons .ant-btn:hover) {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: rgba(0, 0, 0, 0.65);
}
:global(.ant-popover-buttons .ant-btn:focus) {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: rgba(0, 0, 0, 0.65);
}

:global(.ant-form-inline .ant-form-item) {
  margin: 0;
}

:global(.ant-btn) {
   padding: 0 12px;
}

:global(.ant-cascader-picker-label) {
  text-align: left;
  padding-right: 20px!important;
}

:global(.ant-input:hover){
  border: 1px solid #52C9C2 !important;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}
:global(.ant-input:focus){
  border: 1px solid #52C9C2;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}

:global(.ant-input-number:hover){
  border-color: #52C9C2 !important;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}
:global(.ant-input-number:focus){
  border-color: #52C9C2 !important;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}

:global(.ant-cascader-picker:focus .ant-cascader-input) {
  border: 1px solid #52C9C2 !important;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2) !important;
}
.createButton{
  margin: 0;
  background-color: #52C9C2;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #52C9C2 !important;
}
.createButton:hover{
  background-color: #52C9C2;
  border-color: #52C9C2;
}
.createButton:focus{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
}

.searchButton{
  margin: 0 0 24px 0;
  background-color: #52C9C2;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #52C9C2 !important;
  color: #fff;
}
.searchButton:hover{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
  color: #fff;
}
.searchButton:focus{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
  color: #fff;
}

.newButton{
  margin: 0 0 24px 0;
  background-color: #52C9C2;
  font-size: 14px;
  height: 32px;
  border: 1px solid #52C9C2 !important;
  color: #fff;
}
.newButton:hover{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
  color: #fff;
}
.newButton:focus{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
  color: #fff;
}

.resetButton{
  margin: auto 0 auto 10px;
  background-color: #fff;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #DCDDE0 !important;
  color: #000;
}
.resetButton:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #DCDDE0;
}
.resetButton:focus {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: #000;
}

.addQualityButton{
  margin: 0 10px 0 0;
  background-color: #46A3EF;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #46A3EF !important;
}
.addQualityButton:hover{
  background-color: #46A3EF;
  border: 1px solid #46A3EF;
}
.addQualityButton:focus{
  background-color: #46A3EF;
  border: 1px solid #46A3EF;
}
.deleteQualityButton{
  margin-right: 10px ;
  background-color: #F29F38;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #F29F38 !important;
}
.deleteQualityButton:hover{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}
.deleteQualityButton:focus{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}

.batchDelButton{
  margin-left: 10px ;
  background-color: #F29F38;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #F29F38 !important;
}
.batchDelButton:hover{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}
.batchDelButton:focus{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}

.cancleButton{
  margin: 0;
  background-color: #fff;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #DCDDE0 !important;
  color: #000;
}
.cancleButton:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #DCDDE0;
}
.cancleButton:focus {
  background-color: #fff;
  border: 1px solid #DCDDE0;
  color: #000;
}

.cancleButtonGray{
  margin: 0;
  background-color: #E8EBED;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #E8EBED !important;
  color: #56595E;
}
.cancleButtonGray:hover{
  background-color: #E8EBED;
  color: #56595E;
  border: 1px solid #E8EBED;
}
.cancleButtonGray:focus {
  background-color: #E8EBED;
  border: 1px solid #E8EBED;
  color: #56595E;
}

.submitButton{
  margin: 0 10px;
  background-color: #52C9C2;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #52C9C2 !important;
}
.submitButton:hover{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
}
.submitButton:focus{
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
}
.totalNum{
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #000;
  height: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}
.totalNumLeft{
  font-size: 14px;
  color: #000;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  margin-right: 30px;
}
.totalNumRight{
  font-size: 14px;
  color: #000;
  height: 14px;
  line-height: 14px;
}

.leftInput{
  display: flex;
  justify-content: flex-start;
}
.centerInput{
  display: flex;
  justify-content: center;
}
.rightDoubleButton{
  display: flex;
  justify-content: flex-end;
}

.exportYellow{
  margin-right: 10px;
  width: 108px;
  height: 32px;
  background: #F29F38;
  border-radius: 4px;
  border: 1px solid #F29F38;
}
.exportYellow:hover{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}
.exportYellow:focus{
  background-color: #F29F38;
  border: 1px solid #F29F38;
}

.exportBlue{
  margin-right: 10px;
  width: 108px;
  height: 32px;
  background: #46A3EF;
  border-radius: 4px;
}
.exportBlue:hover{
  background-color: #46A3EF;
  border: 1px solid #46A3EF;
}
.exportBlue:focus{
  background-color: #46A3EF;
  border: 1px solid #46A3EF;
}
:global(.ant-form-item-required:before) {
  content: " " !important;
  color: #fff;
}

:global(.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled)){
  border-color: #52C9C2 !important;
  -webkit-box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2) !important;
}

:global(.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled)){
  border-color: #52C9C2 !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(82,201,194, 0.2) !important;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2) !important;
}

:global(.ant-calendar-selected-day .ant-calendar-date:hover){
  background: #52C9C2 !important;
}
:global(.ant-calendar-selected-day .ant-calendar-date){
  background: #52C9C2 !important;
}

:global(.ant-calendar-date:hover){
  background: #52C9C2 !important;
}
:global(.ant-calendar-today .ant-calendar-date){
  border-color: #52c9c2!important;
  font-weight: bold;
  color: #52c9c2!important;
  background: #fff!important;
}

:global(.ant-calendar-range-picker-input) {
  /* width: 35% !important; */
}

:global(.ant-calendar-picker-clear, .ant-calendar-picker-icon) {
  right: 16px;
}

:global(.ant-pagination-options-quick-jumper input:focus) {
  border-color: #52C9C2;
  box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
}

:global(.ant-pagination-options-quick-jumper input:hover) {
  border-color: #52C9C2;
}


:global(.ant-checkbox-inner:after) {
  left: 5.571429px!important;
  top: 2.742857px!important;
}

:global(.ant-checkbox:hover .ant-checkbox-inner) {
  border-color: #52C9C2!important;
}


.titleWord{
  font-size: 14px;
  display: block;
  margin: 20px 0;
  color: #000;
  letter-spacing: 0;
}
.rangeContent{
  width: 100%;
  border: 1px solid #DCDDE0;
  border-radius: 2px;
  margin-bottom: 20px;
}
.rangeItemContent{
  margin:30px 0 0 17px;
}
.xSpin{
  width: 97%;
  margin: 20px auto 0;
  height: 2px;
  background-color:#EFF0F4 ;
}

.checkBox, .checkboxGroup{
  font-size: 14px;
  color: #000;
  margin-right: 8px;
}


:global(.ant-checkbox-checked .ant-checkbox-inner),:global(.ant-checkbox-indeterminate .ant-checkbox-inner){
  background-color: #52c9c2!important;
  border: #52c9c2!important;
}
:global(.ant-upload.ant-upload-select-picture-card){
  border: none !important;
  width: 84px !important;
  height: 84px !important;
  border-radius: 0 !important;
  background-color: #fff !important;
}

.openType{
  color: #9B9B9B;
}

/* -------audit begin------------ */
:global(.audit table td){
  width: 280px!important;
}
:global(.audit .ant-calendar-month-panel-body){
  overflow: hidden!important;
}
:global(.audit .ant-input){
  background: transparent!important;
  color: transparent!important;
}

:global(.auditModel .ant-btn){
  margin: 0 10px 0 0;
  background-color: #fff;
  font-size: 14px;
  width: 80px;
  height: 32px;
  border: 1px solid #DCDDE0 !important;
  color: #000;
}

:global(.auditModel .ant-btn:hover, .audit .ant-btn:focus){
  background-color: #fff;
  color: #000;
  border: 1px solid #DCDDE0;
}

:global(.auditModel .ant-btn-primary){
  margin: 0;
  background-color: #52C9C2;
  border: 1px solid #52C9C2 !important;
  color: #fff;
}

:global(.auditModel .ant-btn-primary:hover, .audit .ant-btn-primary:focus){
  background-color: #52C9C2;
  border: 1px solid #52C9C2;
  color: #fff;
}

:global(.auditModel .ant-form .ant-row){
  margin: 0 0 10px 60px;
}

:global(.auditModel .ant-form .ant-row:last-child){
  margin: 0 0 0 60px;
}

:global(.auditModel .ant-form .ant-row.SpecialAuditCSS){
  margin: -9px 0 10px 60px;
}
/* -------audit end------------ */

/* -------score change begin------------ */
:global(.ant-form-item .ant-form-extra){
  font-size: 11px;
  color: #C3C3C3;
  letter-spacing: 0;
  position: absolute;
  padding-top: 0!important;
}


:global(.scoreadjust .ant-form-item){
  margin-bottom: 20px;
}

:global(.column-creditScore2){
  text-align: left !important;
}
/* -------score change end------------ */

/* 调整textArea的异常提示与上面元素的间距和其他元素一直 */
:global(.textAreaErrorSpan .ant-form-explain){
  margin-top: 2px;
}

:global(.agc  .ant-input-number-handler-wrap){
  opacity: 0!important;
}

:global(.circleTable .ant-table-thead  tr:first-child  th:first-child){
  border-radius: 6px  0 0 6px;
}


:global(.circleTable .ant-table-thead  tr  th){
  border-bottom:none;
  color: #7B7C80;
  font-weight: normal;
  white-space: nowrap;
}

:global(.circleTable td){
  font-size: 13px;
}

:global(.createEditForm .ant-input-disabled){
  color: #666;
}


:global(.createEditForm .ant-form-item) {
  margin-bottom: 5px;
}
