@import "../config.less";

:global .BIDropdown {
  .ant-btn.ant-dropdown-trigger:hover {
    border: 1px solid @base-green;
    box-shadow: 0 0 0 2px @base-green-shadow;
    color: @base-color;
  }
  .ant-btn.ant-dropdown-trigger:focus{
    border: 1px solid @base-green;
    box-shadow: 0 0 0 2px @base-green-shadow;
    color: @base-color;
  }
}


