.bg{
  width:100%;
  height: 98px;
  line-height: 90px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/title.png');
}
