@import "../config.less";

:global .BIPagination {
  .ant-pagination-item-active{
    border-color: #52C9C2;
  }
  .ant-pagination-item:hover {
    border-color: #52C9C2 !important;
    color: #52C9C2 !important;
  }
  .ant-pagination-item:hover a {
    color: #52C9C2 !important;
  }
  .ant-pagination-item-active a{
    color: #52C9C2 !important;
  }

  .ant-pagination-prev:hover {
    border-color: #52C9C2 !important;
  }
  .ant-pagination-item-link:hover {
    border-color: #52C9C2 !important;
    color: #52C9C2 !important;
  }
  .ant-pagination-prev:focus .ant-pagination-item-link {
    border-color: #52C9C2 !important;
    color: #52C9C2 !important;
  }
  .ant-pagination-next:focus .ant-pagination-item-link {
    border-color: #52C9C2 !important;
    color: #52C9C2 !important;
  }
  .ant-pagination-options-quick-jumper input:focus {
    border-color: #52C9C2;
    box-shadow: 0 0 0 2px rgba(82,201,194, 0.2);
  }

  .ant-pagination-options-quick-jumper input:hover {
    border-color: #52C9C2;
  }
}


