.analyze {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  border-radius: 10px;
  margin-bottom: 16px;
  position: relative;
   .dataRange {
      position: absolute;
      top: -73px;
      right: 24px;
  }
}
