:global .BIKoTable {
  clear: both;
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    font-size: 12px;
  }
  .ant-table-thead > tr > th{
    font-family: PingFangSC-Semibold!important;
    font-weight: bold;
    background:#F6F7FA;
  }
  .ant-table-middle > .ant-table-content  .ant-table-body > table > .ant-table-tbody > tr > td,
  .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td{
    padding: 4px 8px;
  }
  .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th ,.ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th{
    padding: 14px 8px;
  }
  .ant-table-thead > tr > th .ant-table-column-sorter {
    vertical-align: top;
  }
  .ant-dropdown-menu-item-selected {
    color: #52C9C2;
  }
  .ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
    color: #52C9C2;
  }
  .ant-table-thead>tr>th.ant-table-column-has-actions:hover {
    background: #eee;
  }
  .ant-table-thead > tr > th .anticon-filter > svg {
    margin-top: -6px;
  }
  .ant-table-filter-dropdown-link {
    color: #52C9C2;
  }

}


