.name{
  text-align: center;
  margin-bottom: 10px;
}
.shotName{
  width: 300px;
  margin:0 100px;
}
.modalContent{
  font-size: 14px;
  color: #000000;
}
:global(.ant-modal-footer){
  text-align: center!important;
}
