.behaviorPath {
  background: #fff;
  margin: -16px -16px 0px -16px;
  .headBar {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ebecef;
    padding-left: 10px;
    font-size: 18px;
    &:before {
      content: '';
      display: inline-block;
      width: 2px;
      height: 12px;
      background: #52c9c2;
      margin: 0 6px 0 20px;
    }
  }
}

.layoutbg{
  display: flex;
  position: relative;
  justify-content: flex-start;
  top: -5px;
}

.comWrap {
  margin-top: 9px;
  min-height: 700px;
  padding-top: 30px;
  padding-left: 36px;
  //position:relative;
}

.comWrap :global .ant-spin-nested-loading{
  padding-bottom:70px;
  //width:50%;
}
.comWrap :global .ant-empty {
  font-size: 12px;
  margin-left: -68px;
  margin-top: -10px;
  width:480px;
  .ant-empty-image {
    height: 50px;
  }
}

.tabBlank {
  top: 59px;
  height: 10px;
  position: relative;
  background: #F4F7F9;
}

.tabBox {
  min-width: 720px;
  position:relative;
}
.tabBox :global .ant-tabs .ant-tabs-bar {
  border: none;
}
.tabBox :global .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  line-height: 35px;
  height:35px;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  margin-right: -1px;
}
.tabBox :global .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:first-child {
  border-radius: 4px 0 0 4px;
}
.tabBox :global .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
  border-radius: 0 4px 4px 0;
}
.tabBox :global .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  padding-bottom: 0;
  border: 1px solid #48c2ba;
  position: relative;
  z-index: 2;
}

/*用户信息*/

.personIntro {
  width: 365px;
  border-radius:3px;
  float: left;
  background: #f5f6f9;
  border: 1px solid #ececec;
  position: relative;
  // padding-top: 10px;
  margin-left: 40px;
  margin-top: 40px;
  color:#262626;
  .intention{
    width:32px;
    height:32px;
    background: url('../../../assets/sabc.png');
    background-position:0 0;
  }
  .intentionS{
    background-position:0 0;
  }
  .intentionA{
    background-position:-38px 0;
  }
  .intentionB{
    background-position:-78px 0;
  }
  .intentionC{
    background-position:-118px 0;
  }
  .userArea{
    padding:10px 15px;
    border-bottom: 1px solid #ddd;
    display:flex;
    justify-content:space-between;
    font-size:12px;
    .userName{
      display:flex;
      .name{
        font-weight:bold;
      }
      p{
        margin-bottom:0;
        padding-top:2px;
        padding-left:15px;
        min-height:18px;
      }
    }
    .optBtn{
      display:none;
      padding-top:5px;
      .btn{
        display:inline-block;
        height:28px;
        line-height:28px;
        border:1px solid #52C9C2;
        border-radius:4px;
        padding:0 10px;
        color:#52C9C2;
        margin-left:10px;
        cursor:pointer;
      }
    }
  }
}
.personIntro .avatar {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.personIntro .intro {
  padding: 10px 0;
  margin:0;
  border-bottom: 1px solid #ddd;

}
.personIntro .intro:last-child {
  border: none;
}
.personIntro .intro li {
  font-size: 12px;
  display: flex;
  // height:22px;
  line-height: 22px;
  padding-right: 10px;
  overflow: hidden;
}
.personIntro .intro li label {
  width: 112px;
  text-align: right;
  flex-shrink: 0;
}
.personIntro .intro li span {
  text-align: left;
}
.personIntro .orderInfo{
  .title{
    height:38px;
    line-height:38px;
    overflow:hidden;
    padding:0 16px;
    display:flex;
    justify-content:space-between;
  }
  .orderList{
    padding:0 10px;
    //max-height:230px;
    //overflow-y:auto;
    .card{
      position:relative;
      background:#fff;
      border-radius:6px;
      list-style:none;
      overflow:hidden;
      padding:8px 12px 8px 26px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:10px;
      :global .anticon{
        font-size:18px;
        color:#52C9C2;
      }
      p{
        margin-bottom:0;
      }
      .orderInfo{
        p{
          color:#7A7C80;
        }
        h4, .price{
          font-weight:bold;
          color:#1A1C1F;
        }
      }
      .line{
        width:6px;
        height:100%;
        background:#52C9C2;
        position:absolute;
        left:0;
        top:0;
      }
      .lineYellow{
        background:#FFAA4D;
      }
    }
  }
}
/*im*/
.dateBar {
  width: 675px;
  height: 36px;
  background: #f0f2f5;
  border-radius: 4px;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.dateBar .expression{
  display:flex;
  .robort{
    padding-left:20px;
    img{
      width:24px;
      height:24px;
    }

  }
}
.behavior {
  padding: 10px 0 10px 60px;
  margin-bottom: 0;
  max-width: 680px;
}
.behavior li:last-child .content {
  border: none;
}
.step {
  display: flex;
  align-items: flex-start;
}
.step .time {
  width: 165px;
  margin-top: -4px;
  color: #999;
  text-align: right;
  padding-right: 40px;
  flex-shrink:0;
}
.step .content {
  border-left: 1px solid #cff0ee;
  padding-left: 15px;
  position: relative;
  padding-bottom: 5px;
  min-width: 370px;
}
.step .content .text {
  padding-bottom: 30px;
  margin-top: -4px;
  padding-left: 30px;
}
.step .content .bigDot {
  width: 12px;
  height: 12px;
  background: #48c2ba;
  border-radius: 50px;
  position: absolute;
  left: -6px;
  top: 0;
}
.step .content .bigDot .dot {
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 50px;
  margin: 4px auto 0;
  background: #fff;
}
.behavior .title .text,
.behavior .title .time {
  margin-top: -2px;
  color: #000;
  font-weight: bold;
}
.behavior .title .bigDot {
  width: 17px;
  height: 17px;
  background: #fff;
  border: 2px solid #48c2ba;
  left: -8px;
  box-sizing: border-box;
  cursor: pointer;
}
.behavior .title .bigDot .dot::before {
  content: '-';
  position: absolute;
  left: 1px;
  top: -8px;
  font-size: 18px;
  font-weight: bold;
  color: #48c2ba;
}
.behavior .title .plus .dot::before {
  content: '+';
  position: absolute;
  left: 2px;
  top: -5px;
  font-size: 14px;
  color: #48c2ba;
}
.behavior .title .plus .dot {
  width: 8px;
  height: 8px;
}
.behavior .chatLeft .avatar,
.behavior .chatRight .avatar {
  text-align: center;
  // height:55px;
  min-width:70px;
}
.behavior .chatLeft .avatar img,
.behavior .chatRight .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.behavior .chatLeft .avatar p,
.behavior .chatRight .avatar p {
  font-size: 12px;
  transform: scale(0.9);
  margin-bottom:0;
}
.behavior .chatLeft,
.behavior .chatRight {
  display: flex;
  align-items: flex-start;
  padding-bottom:10px;
}
.behavior .chatLeft .chatContent {
  width: 175px;
  background: #f6f7fa;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  // margin-left: 15px;
  padding: 6px 10px;
  position: relative;
  // word-break: break-all;
  word-wrap:break-word;
  word-break: break-word;
  .linkRoute {
    color: #52C9C2;
    text-decoration: underline;
  }
}
.behavior .chatLeft .chatContentImg {
  //max-width: 260px;
  //width: 260px;
  text-align: center;
  padding: 3px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  //margin-left: 15px;
  img {
    width: 254px;
  }
  .triangle {
    border-color:transparent #E8E8E8 transparent transparent;
    top:10px;
    left:80px;
  }
  .triangle em{
    border-color:transparent #FFFFFF transparent transparent;
  }
}
.behavior .chatLeft .triangle {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: transparent #e8e8e8 transparent transparent;
  position: absolute;
  top: 10px;
  left: -5px;
}
.behavior .chatLeft .triangle em {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: transparent #f6f7fa transparent transparent;
  position: absolute;
  top: -5px;
  left: 2px;
}

.behavior .chatRight {
  padding-left: 90px;
  padding-bottom: 10px;
  // float: right;
}
.behavior .chatRight .chatContent {
  width: 210px;
  background: #48c2ba;
  border: 1px solid #48c2ba;
  border-radius: 5px;
  // margin-right: 15px;
  padding: 6px 10px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  word-break: break-all;
  .linkRoute {
    color: #fff;
    text-decoration: underline;
  }
}
.behavior .chatRight .chatContentImg {
  //max-width: 260px;
  //width: 260px;
  text-align: center;
  padding: 3px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
  //margin-right: 15px;
  img {
    width: 254px;
  }
  .triangle {
    border-color :transparent transparent transparent #E8E8E8;
    top: 10px;
    right: 65px;
  }
  .triangle em{
    border-color:transparent transparent transparent #FFFFFF;
  }
}
.behavior .chatRight .miniApp, .behavior .chatLeft .miniApp{
  background:#fff;
  border: 1px solid #48c2ba;
  color:#000;
  padding-top:10px;
  padding-bottom:10px;
}
.behavior .chatRight .miniApp img,  .behavior .chatLeft .miniApp img{
  margin-right:8px;
}
.behavior .chatRight .triangle {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #48c2ba;
  position: absolute;
  top: 10px;
  right: -5px;
}
.behavior .chatRight .triangle em {
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent transparent #48c2ba;
  position: absolute;
  top: -5px;
  right: 2px;
}
.step .prise {
  display: flex;
  padding-left: 30px;
  color: #52c9c2;
  padding-bottom: 20px;
}
.step .prise .stars {
  padding-left: 10px;
}

.step .prise img {
  width: 15px;
  vertical-align: middle;
}

/*bbs*/
.behavior .post {
  width: 340px;
  padding: 0 0 15px 58px;
}
.behavior .post .postHead {
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: 0;
  color: #000;
}
.behavior .post .postBody {
  color: #595959;
  line-height: 26px;
  border-bottom: 1px dashed #e8e8e8;
  padding: 8px 0;
  word-break: break-all;
}
.behavior .post .postBody:nth-child(2){
  margin-bottom:8px;
}
.behavior .post .postBody:nth-child(3){
  background:#F6F7FA;
  border-radius:4px;
  padding-left:10px;
  padding-right:10px;
  position:relative;
  z-index:2;
}
.behavior .post .postBody:nth-child(4){
  background:#F6F7FA;
  border-radius:4px;
  margin-top:-4px;
  padding-left:10px;
  padding-right:10px;
}

.behavior .post .postBody:last-child {
  border: none;
}
.behavior .post .postBody .toggle {
  color: #52c9c2;
  margin-left: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.study .studyTitle {
  font-weight: bold;
  color: #000;
}
.study .studyTitle .time {
  color: #000;
}
.study .priseBox {
  flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: 20px;
}
.study .prise1 {
  display: flex;
  color: #52c9c2;
}
.stars i {
  margin-right: 5px;
  color: #52c9c2;
}
.stars .empty {
  color: #e8e8e8;
}
.study .prise2 {
  display: flex;
  padding: 10px 0 0;
  flex-wrap: wrap;
  max-width:380px;
}
.study .prise2 .label {
  background: #f6f7fa;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 0 8px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.privateLetter .privateToggle {
  width: 330px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #52c9c2;
  margin: -10px 0 20px 30px;
  padding: 12px;
}

.privateLetter .privateToggle {
  /*margin-top:20px;*/
}
.privateLetter .privateToggle .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.privateLetter .privateToggle .intro p {
  font-size: 12px;
  padding-left: 15px;
  line-height: 20px;
  margin-bottom: 0;
  word-break: break-all;
}
.privateLetter .privateToggle .intro .name {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
}
.privateLetter .last .content {
  padding-bottom: 20px;
}


.prise3{
	position:relative;
	padding-left:70px;
  width:300px;
  word-break: break-all;
  line-height:23px;
  padding-top:8px;
}
.prise3::before{
	content:"评价课程：";
	position:absolute;
	left:0;
	top:10px;
}

.pagers{
  width:100%;
  position:absolute;
  bottom:20px;
  left:10px;
  box-sizing: border-box;
  // padding-right:30px;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}
.expressionArea{
  width:140px;
  height:24px;
  background:#fff;
  border-radius:14px;
  margin-left:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  box-sizing:border-box;
  padding:0 4px;
  .progress{

    .progressText{
      font-size:12px;
      display:flex;
      justify-content:space-between;
      color:#262626;
      margin-bottom:0;
      line-height:14px;
    }
    .progressBar{
      width:80px;
      height:4px;
      border-radius:14px;
      background:#ccc;
      overflow:hidden;
      display:flex;
      .bar1{
        height:4px;
        width:60%;
        background:#52c9c2;
      }
      .bar2{
        height:4px;
        width:40%;
        background:#FF6D6D;
      }
    }
  }
  img{
    width:16px;
    height:16px;
  }
}
.tooltipContent{
  h4{
    color:#fff;
    margin-top:10px;
  }
  p{
    font-size:13px;
    color:#B8BBBF;
    margin-bottom:0;
  }
}
.mediaType{
  width:210px;
}

.cardType {
  width: 175px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  border: 1px solid #48c2ba;
  padding: 4px 10px;
  position: relative;
  word-break: break-all;
  display:flex;
  align-items: center;
  margin-left:35px;
  flex-shrink:0;
}

.cardType img{
  margin-right:8px;
  width:24px;
  height:24px;
}
.cardType .cardInfo{
  h4{
    margin-bottom:0;
  }
  p{
    margin-bottom:0;
    font-size:12px;
    color:#7B7C80;
  }
  .contactClass{
    width:120px;
    height:28px;
    background:#E5F9F9;
    border:1px solid #00CCC3;
    color:#00CCC3;
    line-height:28px;
    text-align:center;
    border-radius:14px;
    margin:10px 0 5px;

  }
}

 // tabs 和 左侧内容的容器
.behaviorContent {
  display: flex;
}
// a 链接标签样式
.linkRoute {
  color: #52C9C2;
  text-decoration: underline;
}
.inputBox{
  position:absolute;
  width:260px;
  right: 16px;
  top: 8px;
}
.inputBox2 {
  position:absolute;
  width:260px;
  top:8px;
  right:-50px;
}

