.personInfoCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}
.container {
  display: flex;
  flex-direction: row;
}
.secRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secRow > div {
  margin-bottom: 14px;
}
.secDesc {
}
.secCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.secCol > div {
  margin-bottom: 14px;
}
.secCol :last-child {
  flex: 1;
}
.downCls{
  color:#52C9C2
}
