.newSheetWrap {
  background: #fff;
  overflow: hidden;
}

.searchBlock {
  padding: 20px;
}


.gutter-row {
  height: 32px;
  line-height: 1;
}
.gutter-box1 {
  float: left;
}
.gutter-box2 {
  margin: 0 auto;
}
