.userOperation {
  background: #fff;
  padding: 0 0 30px;
  overflow: hidden;
  border-radius: 10px;
  width:100%;
  position:relative;
  .creatBtn{
    padding:20px;
  }
}
.headBar {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ebecef;
  padding-left: 10px;
  font-size: 18px;
  &:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 12px;
    background: #52c9c2;
    margin: 0 6px 0 20px;
  }
}
.contentArea{
  padding:0 20px 20px;
}

.options a{
  margin-left:10px;
  color:#52c9c2;
  
}
.options a[disabled]{
  color:#B8BBBF;
}
.pager{
  padding-top:50px;
}

:global .ant-popover .ant-popover-inner{
  background-color: #fff;
}


:global .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow{
  border-right-color: #fff;
  border-bottom-color: #fff;
  background-color: #fff;
}

:global .ant-popover-inner-content 
{
  font-size: 12px;
}
:global .ant-popover-inner-content .ant-btn-primary{
  background:#52C9C2;
  border-color:#52C9C2;
}
