@base-green: #52C9C2;
@base-green-shadow: rgba(82,201,194, 0.2);
@base-blue: #61B8FF;
@base-yellow: #FFBC00;
@base-color: rgba(0, 0, 0, 0.65);
@base-white: rgba(255, 255, 255, 1);

:global .tabGroupContainer {
  background-color: #FFFFFF;
  .ant-tabs-bar {
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
  }
  .ant-tabs-ink-bar {
    background-color: @base-green;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: @base-color;
  }
}
:global .aiWorktable-ant-layout-content {
  position: relative;
  overflow: visible;
}

.aiWorktable {
  position: absolute;
  top: 0;
  left: -18px;
  right: -18px;
  .aiWorktableMain {
    margin: 18px;
  }
}


.exportBtn {
  width: 90px;
  height: 34px;
  color: @base-white;
  background-color: @base-yellow;
  border-color: @base-yellow;
  -webkit-box-shadow: none;
  box-shadow: none;
  img {width: 14px;margin-right: 2px;}
}
.exportBtn:hover {
  background-color: @base-yellow;
  border-color: @base-yellow;
  color: @base-white;
}

.exportEvaluate {
  width: 102px;
  height: 34px;
  color: @base-white;
  background-color: @base-blue;
  border-color: @base-blue;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 6px;
}
.exportEvaluate:hover {
  background-color: @base-blue;
  border-color: @base-blue;
  color: @base-white;
}
