.container {
  margin-bottom: 100px;
  margin-right: 20px;
  text-align: center;
  .histogram{
    margin-top: 20px;
    .headerCls{
      height: 73px;
      line-height: 73px;
      text-align: left;
      font-size: 18px;
      color: #000;
      padding-left: 30px;
      border-bottom: 1px solid #EBECEF;
      background-color: #fff;
    }
    .headerCls::before{
      content: '';
      display: inline-block;
      width: 2px;
      height: 12px;
      background: #52c9c2;
      margin: 0 6px 0 -6px;
    }
    .formCls{
      background-color: #fff;
      box-sizing: border-box;
      padding:30px 30px 10px;
      .form1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
      }
    }
    .echartCls{
      display:flex;
      justify-content:space-between;
      margin-top:10px;
      .emptyCls{
        width:49%;
        height: 380px;
        line-height: 400px;
        background-color: #fff;
      }
    }
    .echartFamily{
      margin-top: 20px;
      background-color: #fff;
    }
  }
}
.mapContainer{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-flow: row;
  background: #fff;
}
.labelCls{
  display: inline-block;
  width: 60px;
  font-size: 14px;
  text-align-last: justify;
}
