.container {
  margin-bottom: 100px;
  text-align: center;
  .histogram{
    padding-top: 20px;
    .headerCls{
      height: 98px;
      line-height: 98px;
      background: url("../../../assets/title.png") no-repeat center;
      background-size: 100%;
      font-size: 30px;
      color: #fff;
    }
    .formCls{
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin: 0 64px;
      height: 107px;
      background: rgba(0,144,255,.05);
      padding: 36px 30px;
      .searchTxt{
        margin-right: 10px;
        font-size: 14px;
        color: #fff;
      }
    }
    .echartCls{
      padding: 0 64px 50px;
      display:flex;
      justify-content:space-between;
      margin-top:47px;
      .emptyCls{
        width:49%;
        height: 510px;
        line-height: 400px;
        box-shadow:0 0 20px #0070b7;
        background-color:#0c162f;
      }
    }
  }
}
.mapContainer{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-flow: row;
  background: #0b1530;
}
