.collegeWrap {
  width: 761px;
  height: 306px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;

  .title {
    height: 36px;
    padding: 18px 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(98, 100, 101, 1);
    span {
      margin-right: 10px;
      width: 4px;
      height: 18px;
      background: rgba(255, 227, 0, 1);
      display: inline-block;
    }
    i {
      font-size: 12px;
      font-weight: 400;
      color: #626465;
      font-style: normal;
    }
  }

  .dot {
    height: 20px;
    width: 100%;
    text-align: center;
    margin-top: -14px;
    span {
      margin-right: 20px;
    }
  }
}
