.rankMark {
  display: flex;
  align-items: center;
  color: red;
  > img {
    margin-left: 10px;
  }
}
.rankMarkGreen {
  color: #00ccc3;
  cursor: pointer;
}
.appealWrap {
  width: 60%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-right: 16px;
  // padding: 16px 24px 24px;
}
