.collegeWrap {
  width: 373px;
  height: 286px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;

  .title {
    height: 36px;
    padding: 18px 0 0 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(98, 100, 101, 1);
    span {
      margin-right: 10px;
      width: 4px;
      height: 18px;
      background: rgba(255, 227, 0, 1);
      display: inline-block;
    }
  }
  .total {
    width: 105px;
    text-align: center;
    margin-top: -29px;
    .count {
      font-size: 32px;
      font-family: myDINBold, DINCondensed, Haettenschweiler !important;
      margin: 0 !important;
    }
  }
}
