@import '../config.less';

:global .BICarousel {
  .ant-carousel .slick-dots li button {
    color: #000;
    font-size: 13px;
    height: 25px;
    width: 25px;
    border: 1px solid #bbb;
  }
  .ant-carousel .slick-dots {
    margin-bottom: -20px;
  }
}
