.progressCell{
  padding:0 8px;
  display:flex;
  align-items:center;
  justify-content: center;
}
.tbody{
  display:flex;
  width:100%;
  margin:0;
  padding:0;
  li{
    width:10%;
    // height:32px;
    line-height:32px;
    text-align:center;
    // color:#1A1C1F;
    font-size:13px;
    font-weight:bold;
    box-sizing:border-box;
    border-right:1px solid #EFF3F6;
    border-bottom:1px solid #EFF3F6;
    overflow:hidden;
    &:last-child{
      border-right:none;
    }
  }
}
.examLineHover .tbody li{
  padding-top:15px;
  padding-bottom:15px;
}
.examLine{
  position:relative;
  &:last-child{
    .tbody li{
      border-bottom:none;
    }
  }
  .hoverLine{
    width:101%;
    height:62px;
    position:absolute;
    left:-0.5%;
    top:-4px;
    background:#fff;
    // opacity:0;
    z-index:3;
    box-shadow:0px 3px 8px 0px rgba(0,0,0,0.3);
    display:flex;
    li{
      height:62px;
      float:left;
      padding-top:0;
      padding-bottom:0;
      // border:none;
    }
  }
  // &:hover{
  //   .hoverLine{
  //     display:block;
  //     animation: fadeIn 0.8s ease-out forwards;
  //   }
  // }
}

.tooltipContent{
  padding-bottom:8px;
  p{
    white-space: nowrap;
    font-size:13px;
    img{
      margin:0 5px 0 10px;
    }
    margin-bottom:0;
    padding-top:8px;
    display:flex;
    justify-content: center;;
  }
}
.examIcon{
  width:16px;
  margin-right:10px;
}
@keyframes fadeIn{
  from {opacity:0;}
  to{opacity:1;}
}
@keyframes fadeOut{
  from {opacity:1;}
  to{opacity:0;}
}