
//------
.wrap {
  overflow: hidden;
  width: 100%;
}
.line {
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}
.line2 {
  overflow: hidden;
  width: 100%;
}
.titleLeft {
  width: 80px;
  float: left;
}
.rightCon {
  width: 800px;
  overflow: hidden;
  margin-bottom: 10px;
}
