.kongbai {
  display:flex;
  flex-direction:column;
  align-items:center;
  height:968px;
  background:#ffffff;
  border-radius:10px;
  .image {
    margin-top:138px;
    width:301px;
    height:252px;
  }
  .text {
    margin-bottom:0;
    font-size:12px;
    color:#56595E;
    text-align:center;
  }
  .button {
    margin-top:26px;
    width:112px;
    border:none;
    font-size:14px;
  }
}
.wrap {
  overflow:auto;
  height:968px;
  padding-top:24px;
  background:#ffffff;
  border-radius:10px;
}
.head {
  padding:0 24px;
  display:flex;
  justify-content:space-between;
  .button {
    width:112px;
    border:none;
    font-size:14px;
  }
  .input {
    width:263px;
    font-size:13px;
  }
}
.content {
  display:flex;
  flex-wrap:wrap;
  padding:16px 0 0 24px;
}
