@base-green: #52C9C2;
@base-green-shadow: rgba(82,201,194, 0.2);
@base-blue: #46A3EF;
@base-yellow: #F29F38;
@base-color:rgba(0, 0, 0, 0.65);

:global .KoRadio {
  .ant-radio-button-wrapper {
    border: 1px solid @base-green;
    color: #000;
    transition:none;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper {
    width: 120px;
    text-align: center;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background:@base-green;
    border-color:@base-green;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    outline: none;
  }
  .ant-radio-button-wrapper:hover {
    color: #000;
  }
  .ant-radio-button-wrapper-checked::before {
    background-color: #d9d9d9 !important;
  }
  .ant-radio-button-wrapper-checked{
    box-shadow: none;
  }
  .ant-radio-button-wrapper-checked:hover{
    box-shadow: none;
  }
  .ant-radio-button-wrapper:first-child {
    border-left: 1px solid @base-green;
  }
}

.beizhu {
  color: #999;
  float: right;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}
