.personInfoCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border: 1px solid #dcdde0;
}
.container {
  display: flex;
  flex-direction: row;
}
.secRow {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 18px;
}
.secRow > div {
  margin-top: 10px;
}
.secCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
}
.secCol :last-child {
  flex: 1;
}
.secctionTitle {
  font-weight: bold;
  height: 43px;
  background-color: #f6f7fa;
  line-height: 43px;
  padding-left: 18px;
  font-size: 16px;
  color: #353535;
}

.divideLine {
  height: 1px;
  background-color: #ebecef;
  flex: 1;
  margin: 24px 0 0 12px;
}

.appealInfoPanel {
  float: right;
  color: #52c9c2;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
}
.showPanel {
  flex: 1;
}
.hidePanel {
  display: none;
}
