.detials {
    flex: 1;
    position: relative;
    .noneData {
        position: absolute;
        z-index: 1;
        top: 48px;
        display: flex;
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;
        background-color: #FAFFFF;
        border: 1px solid #E8EBF2;
        border-top: none;
        img {
            width: 241px;
        }
    }
}