.lineItem{
  display:flex;
  padding-top:15px;
  box-sizing:border-box;
  padding-left:24px;
  align-items: center;
  .eq0{
    width:10%;
    min-width:70px;
    padding-right:20px;
  }
  .eq1{
    width:18%;
    min-width:160px;
    padding-right:20px;
  }
  .eq2{
    width:18%;
    min-width:160px;
    padding-right:20px;
  }
  .eq3{
    width:39%;
    flex:1;
    padding-right:20px;
  }
  .eq4{
    width:15%;
    min-width:140px;
    display:flex;
    color:#00CCC3;
    padding-left:15px;
    span{
      margin-right:8px;
      cursor:pointer;
    }
    :global{
      .ant-radio{
        margin-left:10px;
      }
    }
    .icon{
      i{
        margin-right:4px;
        font-size:16px;
        vertical-align:-3px;
        color:#D9D9D9;
        cursor:pointer;
      }
      margin-left:20px;
    }
  }
  .gray{
    color:#ccc;
  }
  :global{
    .ant-select{
      width:100%;
    }
  }

}