.commonformWrap{
    min-width:1000px;
    background:#fff;
    margin:20px 20px 50px 20px;
    .title{
      font-family: PingFangSC-Semibold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #F6F7FA;
      height:43px;
      padding:0 18px;
      font-size: 16px;
      color: #353535;
      .iconCls{
        color: #52C9C2;
      }
      .passTimeCls{
        margin-left: 5px;
        font-size: 14px;
        color: #353535;
        font-family: PingFangSC-Regular;
      }
    }
    .text{
      padding:0 15px;
    }
    .textA {
      width:900px;
    }
    .content{
      border-bottom:1px solid #EBECEF;
      padding:20px;
    }
    .content:last-child{
      border:none;
    }
    .gutterBox1{
      text-align:right;
      padding-top:40px;
      .gutterBtn2{
        margin-right:20px;
      }
    }
    .i{
      display: inline-block;
      height: 40px;
      line-height: 40px;
      font-style: normal;
      font-weight: bold;
    }
  .blockLabel {
    width: 120px;
  }
  .more {
    color: #52C9C2;
    margin-left: 120px;
    cursor: pointer;
  }
  }
.downCls{
  color:#52C9C2;
  border-bottom: 1px solid;
}
