.searchBlock {
  padding: 20px;
}

.gutterRow {
  height: 32px;
  margin-bottom: 20px;
}

.gutterCol {

}

.gutterBox {
  float: left;
}

.gutterLabel{
  width: 88px;
  line-height: 0;
  display: inline-block;
  text-align: justify;
}

.gutterForm {
  margin-left: 5px;
  width: 230px;
  display: inline-block;
}
