
.searchBoxBg {
  overflow: hidden;
  background: #fff;
  padding: 20px;
  width: 100%;
}

.row,.row11 {
  float: left;
  text-align: left;
  width: 100%;
}
.row11 {
  width: calc(100% - 101px);
}


.row>div {
  margin-bottom: 14px;
}

.formItem {
  margin-right: 16px!important;
}

.rowTitle,.rowTitle2 {
  float: left;
  line-height: 40px;
  width: 70px;
  text-align: left;
}

.rowTitle2 {
  line-height: 56px;
}

.searchBoxSeletected {
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #EBECEF;
  padding-left: 20px;
  min-height: 56px;
  line-height: 56px;
}
.spanBtn {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: 1px dotted #DCDDE0;
  background: #fff;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  margin-right: 10px;
  max-width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.tableWrap {
  padding: 20px;
  padding-top: 0;
  margin-top: 20px;
  background: #fff;
}

.tableTitleWrap {
  border-bottom: 1px solid #EBECEF;
  height: 70px;
  line-height: 70px;
}
.tableTitleWrap:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #52c9c2;
  //margin: 0 6px 0 22px;
}

.tableText {
  font-size: 18px;
  color: #333;
  margin-left: 5px;
}





