.IMRight{
  :global {
    .ant-table-thead > tr > th {
      text-align: right;
    }
    .ant-table-thead > tr > th:nth-child(1) {
      text-align: left !important;
      padding-left:16px !important;
    }
    .ant-table-tbody > tr > td:nth-child(1) {
      text-align: left !important;
      padding-left:16px !important;
    }
    .ant-table-thead > tr > th:nth-child(4),.ant-table-tbody > tr > td:nth-child(4) {
      padding-right:16px !important;
    }
  }
}
