.appealContainer {
  font-size: 14px;
  color: #262626;
  padding: 30px;
  background-color: white;
}
.spaceLine {
  height: 20px;
}
.subOrderNum {
  padding-left: 18px;
  margin-bottom: 16px;
}
.divideLine {
  height: 1px;
  background-color: #ebecef;
  flex: 1;
  margin: 24px 0 24px 12px;
}
.showPanel {
  flex: 1;
}
.hidePanel {
  display: none !important;
}

.foldBox {
  flex: 1;
  height: 43px;
  background-color: #f6f7fa;
  line-height: 43px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #353535;
  margin-bottom: 15px;
}
.foldBox > span:last-child {
  float: right;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 10px;
}
