:global .BIButtonYellow {
  display: inline-block;
  .ant-btn {
    padding: 0 8px;
    border-radius: 4px;
  }
  .ant-btn-primary {
    color: #fff;
    background-color:#F29F38;
    border-color:#F29F38;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


