.qContainer {
  border-radius: 10px;
  background: url(@/assets/questionnaire/bg.png) 100% repeat;
  background-size: 35px;
  margin-bottom: 16px;
  .title {
    height: 30px;
    background-color: #D8D8D8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    img {
      margin-top: 17px;
    }
  }
  .qChildren {
    padding-left: 24px;
    padding-top: 30px;
  }
}