.title {
  font-size:14px;
  margin-bottom:5px;
}
.content {
  padding:24px 24px 16px;
  background:#ffffff;
  border-radius:10px;
  .name {
    display:flex;
    margin-bottom:24px;
    .text {
      margin-right:7px;
      margin-bottom:0;
      height:32px;
      line-height:32px;
      font-size:13px;
      color:#1A1C1F;
    }
    .input {
      width:224px;
      margin-right:40px;
    }
    .picker {
      width:224px;
    }
  }
  .question {
    display:flex;
    margin-bottom:8px;
    .text {
      margin-bottom:0;
      margin-right:7px;
      height:32px;
      line-height:32px;
      font-size:13px;
      color:#1A1C1F;
    }
    .input {
      width:560px;
    }
  }
  .answer {
    display:flex;
    .text {
      margin-bottom:0;
      margin-right:7px;
      height:32px;
      line-height:32px;
      font-size:13px;
      color:#1A1C1F;
    }
    .box {
      position:relative;
      .area {
        width:800px;
        height:120px;
        resize:none;
      }
      .upload {
        position:absolute;
        left:16px;
        bottom:8px;
        width:80px;
        height:24px;
        line-height:24px;
        border:1px solid #D5D8DB;
        border-radius:12px;
        color:#56595E;
        font-size:12px;
        text-align:center;
        cursor:pointer;
      }
    }
  }
}
