@import '~antd/lib/style/themes/default.less';

//.content {
//  margin: 30px 32px;
//}
.bread {
  min-height: 28px;
  background: #f0f2f5;
}

.title {
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  color: #353535;
  background: #fff;
  border-bottom: 1px solid #ebecef;
}
.title:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #52c9c2;
  margin: 0 6px 0 22px;
}
:global(.ant-layout-content) {
  -ms-flex: auto;
  flex: auto;
  margin:0 18px !important;
  overflow: hidden;
}

@media screen and (max-width: @screen-sm) {
  :global(.ant-layout-content) {
    -ms-flex: auto;
    flex: auto;
    margin-left: 0 !important;
  }
}
