@import '~antd/lib/style/themes/default.less';

//.content {
//  margin: 30px 32px;
//}
.bread {
  min-height: 16px;
  background: #f0f2f5;
}

.title {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #1A1C1F;
  padding-left: 24px;
  background: #fff;
  border-bottom: 1px solid #F5F8FA;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.titleCircular {
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  color: #353535;
  padding-left: 15px;
  background: #fff;
  border-bottom: 1px solid #ebecef;
  border-radius: 6px 6px 0 0;
}

// .title:before {
//   content: '';
//   display: inline-block;
//   width: 2px;
//   height: 12px;
//   background: #52c9c2;
//   margin: 0 6px 0 22px;
// }

:global(.ant-layout-content) {
  -ms-flex: auto;
  flex: auto;
  margin:0 18px !important;
  overflow: hidden;
}

@media screen and (max-width: @screen-sm) {
  :global(.ant-layout-content) {
    -ms-flex: auto;
    flex: auto;
    margin-left: 0 !important;
  }
}
