// 渐变色加阴影
.bg_color (@c1, @c2, @c3){
  box-shadow: 0 4px 8px @c3;
  background: -webkit-linear-gradient(left, @c1, @c2); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @c1, @c2); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @c1, @c2); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @c1, @c2); /* 标准的语法（必须放在最后） */
  box-shadow: 0 4px 8px @c3;
}

.performanceDetail{
  min-height: 140px;
  display:flex;
  .chart{
    width:140px;
    height:140px;
    margin-left:20px;
    margin-right:40px;
  }
  .panelBox{
    display:flex;
    flex:1;
  }
  .performancePanel{
    // min-width:216px;
    width:300px;
    height:112px;
    border-radius:10px;
    background:#fff;
    box-shadow:0 4px 8px 0 rgba(26, 28, 31, 0.05);
    margin-top:8px;
    margin-right:16px;
    overflow:hidden;
    // width:calc(100% - 216px);
    position:relative;
    .bg_color(#07DCD3, #32E7BF, rgba(0, 204, 195, .2));
    .circle{
      width:163px;
      height:163px;
      border-radius:100%;
      background:rgba(131, 250, 244, 0.2);
      position:absolute;
      right:-20px;
      top:-70px;
    }
    .circle2{
      top:40px;
      right:-60px;
      background: linear-gradient(circle, rgba(131, 250, 244, 0.2), rgba(131, 250, 244, 0.1))
    }
  }
  .performancePanel2{
    .bg_color(#FFB32B, #FFD500, rgba(255, 188, 0, .2));
    .circle{
      background: linear-gradient(to right,rgba(255, 219, 84, 0.4), rgba(255, 219, 84, 1) );
      opacity:0.6
    }
    .circle2{
      background: linear-gradient(to right, rgba(255, 219, 84, 1), rgba(255, 219, 84, 0.1));
      opacity:0.4
    }
  }
  .performancePanel3{
    .bg_color(#FF6F6F, #FF93C7, rgba(255, 98, 106, .2));
    .circle{
      background: linear-gradient(to right,rgba(255, 111, 111, 0.4), rgba(255, 111, 111, 1) );
      opacity:0.6
    }
    .circle2{
      background: linear-gradient(to right, rgba(255, 111, 111, 1), rgba(255, 111, 111, 0.1));
      opacity:0.4
    }
  }
  .details{
    position:relative;
    z-index:2;
    padding:26px 24px 0;
    color:#fff;
    font-size:12px;
    .top{
      display:flex;
      justify-content: space-between;
      .num{
        font-size:32px;
        font-style:normal;
      }
    }
  }
}
.tooltipContent{
  h4{
    color:#fff;
    margin-top:10px;
    opacity: 0.9;
    font-size:13px;
  }
  p{
    font-size:12px;
    color:#fff;
    opacity: 0.9;
    margin-bottom:0;
    line-height:22px;
  }
}