.tableList {
    padding-top: 16px;
    .row1 {
        background-color: #FAFFFF;
    }
    .row2 {
        background-color: #FFF9F9;
    }
    .row3 {
        background-color: #F5FBFF;
    }
    .sort {
        display: flex;
        width: 40px;
        justify-content: space-between;
        align-items: center;
    }
}
