.wrap {
  margin:0 24px 24px 0;
  width:560px;
  border-radius:10px;
  background:#ffffff;
  box-shadow:0 3px 10px 0 rgba(221,230,236,1);
}
.head {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right:24px;
  height:48px;
  border-bottom:1px solid #F5F8FA;
  .left {
    display:flex;
    align-items:center;
    .image {
      width:64px;
      height:30px;
    }
    .title {
      font-weight:bold;
      font-size:16px;
      color:#1A1C1F;
    }
  }
  .close {
  }
}
