.wrap {
  margin-top:8px;
  .content {
    width:800px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  .edit {
    margin-right:8px;
    font-size:13px;
    color:#00CCC3;
    cursor:pointer;
  }
  .delete {
    font-size:13px;
    color:#00CCC3;
    cursor:pointer;
  }
  .action {

  }
}
