.performanceRank{
  padding:16px 24px;
  
  :global{
    .ant-table-tbody > tr > td{
      padding-bottom:1px;
    }
  }
  .rankColumn{
    .rankSpan{
      width:20px;
      height:20px;
      text-align:center;
      display:inline-block;
      margin-right:7px;
    }
    .rank{
      width:20px;
      height:14px;
      margin-right:7px;
    }
    .changes{
      width:10px;
      height:12px;
      vertical-align:-3px;
      margin-left:13px;
    }
  }
  .normal .changes{
    width:10px;
    height:1px;
    vertical-align:middle;
  }
}