.performanceRank{
  padding:16px 24px;
  position:relative;
  box-sizing: border-box;
  .suspenTable {
    width: calc(100% - 48px);
    position: absolute;
    top: 112px;
    z-index: 1;
    // :global {
    //   .ant-table-tbody > tr > td {
    //     border-bottom: none;
    //   }
    // }
  }
  .pkUser {
    > td {
      color: #00CCC3;
      // cursor: not-allowed !important;
    }
  }
  .tbodyMarTop{
    :global{
      .ant-table-body {
        margin-top:40px;
      }
    }
    
  }
  :global{
    .ant-table-tbody > tr > td{
      padding-bottom:1px;
    }
  }
  .rankColumn{
    .rankSpan{
      width:20px;
      height:20px;
      text-align:center;
      display:inline-block;
      margin-right:7px;
    }
    .rank{
      width:20px;
      height:14px;
      margin-right:7px;
    }
    .changes{
      width:12px;
      height:12px;
      vertical-align:-2px;
      margin-left:13px;
    }
  }
  // .normal .changes{
  //   width:12px;
  //   height:12px;
  //   vertical-align:middle;
  // }
}