.eventCotainer{
    display: inline-block;
    padding-top: 20px;
}
.tags{
    display: inline-block;
    :global{
        .ant-tag{
            padding: 3px 7px;
            color: #595959;
            border: none;
            background-color:rgb(244, 244, 244);
            .anticon-close{
            color: #595959 !important
            }
        }
    }   
}
