.formCotainer{
  position: relative;
  width: 100%;
  min-width: 1116px;
  padding:30px 20px;
  background-color: #fff;
  .rowWrap{
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
    .itemCls{
      width: 20%;
    }
    .itemCls:not(:last-child){
      margin-right: 20px;
    }
  }

  .scaleTxt{
    display: inline-block;
    width: 80px;
    transform: scale(0.75);
    margin-left: -10px;
  }
  .collapCls{
    font-size: 12px;
    color: #DCDDE0;
  }
}



