.formCotainer{
  width: 100%;
  height: 455px;
  padding:30px 20px;
  background-color: #fff;
  .rowWrap{
    display: flex;
    margin-bottom: 6px;
    .itemCls{
      flex: 1;
    }
  }

  :global{
    .ant-form-item-label{
      width: 60px;
    }
    .ant-form-item label{
      font-size: 12px;
      width: 51px!important;
    }
    .ant-form-item-label > label::after{
      left: 50px!important;
    }
    .ant-advanced-search-form .ant-form-item{
      margin-bottom: 0;
    }
    .ant-form-item-control{
      width: 10%;
      min-width: 140px;
    }
    .ant-input{
      padding-left: 5px;
      padding-right: 7px;
    }
    .ant-select-selection__rendered{
      margin: auto 10px;
    }
    // 时间
    .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
      font-size: 12px;
    }
    .BIDatePicker .ant-calendar-picker-clear, .BIDatePicker .ant-calendar-picker-icon{
      right: 5px;
    }
    .BIDatePicker .ant-calendar-range-picker-input{
      transform: scale(0.7);
      margin-left: -10px;
    }
    .ant-calendar-range-picker-separator{
      min-width: 6px;
    }
    .ant-calendar-range-picker-separator{
      margin-left: -9px;
      padding: 0;
    }
    .BIDatePicker .ant-calendar-range-picker-input{
      width: 58%;
    }
  }
  .scaleTxt{
    display: inline-block;
    width: 80px;
    transform: scale(0.75);
    margin-left: -10px;
  }
  .collapCls{
    font-size: 12px;
    color: #DCDDE0;
  }
}

