.formLabel {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #1A1C1F;
  width: 110px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}

.formColLeft {
  width: 50%;
  float: left;
}

.formColCenter {
  width: 100%;
}
