@import "../config.less";
.BICascader {
  :global {
    .ant-calendar-picker-clear, .ant-calendar-picker-icon {
      right: 16px;
    }
    .ant-cascader-picker-label:hover + .ant-cascader-input, .ant-cascader-picker:focus .ant-cascader-input {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    // disabled状态
    .ant-cascader-picker-disabled {
      background-color: @base-disabled-color;
    }
    // placeholder颜色
    .ant-input::-webkit-input-placeholder, .ant-cascader-input::-webkit-input-placeholder  {
      color: @base-placeholder-color;
    }
    .ant-cascader-picker-label {
      text-align: left;
    }
  }
}


